<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" class="second-page">
<head>
    <meta charset="UTF-8">
    <title>Clinical Scenario</title>
    <link rel="stylesheet" href="<?=base_url().'src/css/base.css'?>">
    <link rel="stylesheet" href="<?=base_url().'src/css/common.css'?>">
    <link rel="stylesheet" href="<?=base_url().'src/css/layout.css'?>">
    <link rel="stylesheet" href="<?=base_url().'src/css/module.css'?>">
    <script type="text/javascript" src="<?php echo base_url();?>src/js/jquery-1.8.3.min.js"></script>
</head>
<body>
<div class="head h-bg-1">
    <div class="wrapper fn-clear">
        <div class="login">
            <a href="javascript:;">admin</a>
            <span class="line">|</span>
            <a href="javascript:;">Sign Out</a>
        </div>
        <ul class="nav">
            <li><a href="<?=base_url().'index'?>">Learning Objectives</a></li>
            <li><a href="<?=base_url().'index/about'?>">About Clinical Reasoning</a></li>
            <li><a href="<?=base_url().'index/step'?>" class="active">Clinical Scenario</a></li>
            <li><a href="<?=base_url().'index/recommended'?>">Recommended Readings</a></li>
            <li><a href="<?=base_url().'index/others'?>">Others</a></li>
            <li><a href="<?=base_url().'index/step'?>">Step Demo</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="wrap">
        <div class="my-20">
                 <div class="my-20">
                <p class="form-group s-h2">Introduction</p>
                <p class="form-group">The scenario focuses on the care of an older person who experiences fluid and electrolyte imbalance.</p>
                <p class="form-group">You will be introduced to Mr. Chan and follow his journey from admission to day 3 post-operatively.</p>
                <p class="form-group">Alterations in fluid status are common, manifest rapidly and can have potentially fatal consequences particularly in the elderly patient with numerous comorbidities.</p>
                <p class="form-group">Maintaining the delicate fluid and electrolyte equilibrium of post-operative patients is an integral part of nursing care. Fluid imbalance can lead to significant morbidity and mortality.</p>
                <p class="form-group">However, effective clinical reasoning skills will help you to recognize and manage patient deterioration early, thus preventing adverse patient outcomes.</p>
                <p class="form-group s-h4">Suggested Pre-reading</p>
                <p class="form-group">PeMone, P., Burke, K. Dwyer, T., Levett-Jones, T., Moxam, L., Reid-Searl, K., Berry, K., Hales, M., Luxford, Y., Knox, N., Raymond, D (Eds.). (2011). Medical-surgical nursing: Critical thinking in client care (Australian ed). Frenchs Forrest, NSW: Pearson.</p>
                <p class="form-group">Chapter 4: Nursing care of clients having surgery</p>
                <p class="form-group">Chapter 10: Nursing care of clients experiencing altered fluid, electrolyte and acid-base balance</p>
                <p class="form-group">Chapter 26: Nursing care of clients with bowel disorders</p>
                <div class="fn-clear s-btn">
                    <a href="<?=base_url().'index/step'?>"><div class="fn-l"><button type="button">&lt; Prev</button></div></a>
                    <a href="<?=base_url().'index/eightStep'?>"><div class="fn-r"><button type="button">Next &gt;</button></div></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
