html {
    background: url(../images/login_bg.png) right top no-repeat;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -210px;
    margin-left: -400px;
    width: 800px;
    padding: 10px;
    background: #fff;
}

.login-cont {
    height: 420px;
    padding-left: 422px;
    text-align: center;
    background: url(../images/login_pic.png) no-repeat;
}

.login-title {
    line-height: 200px;
    font-size: 40px;
}

.login-btn {
    margin: 0 auto;
    width: 261px;
    height: 55px;
    background: url(../images/login_btn.png) no-repeat;
    cursor: pointer;
}