<!DOCTYPE html>
<html lang="en" class="second-page clinical-page">
<head>
    <meta charset="UTF-8">
    <title>Clinical Scenario</title>
   <link rel="stylesheet" href="<?=base_url().'src/css/base.css'?>">
    <link rel="stylesheet" href="<?=base_url().'src/css/common.css'?>">
    <link rel="stylesheet" href="<?=base_url().'src/css/layout.css'?>">
    <link rel="stylesheet" href="<?=base_url().'src/css/module.css'?>">
</head>
<body>
<div class="head h-bg-1">
    <div class="wrapper fn-clear">
        <div class="login">
            <a href="javascript:;">admin</a>
            <span class="line">|</span>
            <a href="javascript:;">Sign Out</a>
        </div>
        <ul class="nav">
            <li><a href="<?=base_url().'index'?>" >Learning Objectives</a></li>
            <li><a href="<?=base_url().'index/about'?>" >About Clinical Reasoning</a></li>
            <li><a href="<?=base_url().'index/step'?>" class="active">Clinical Scenario</a></li>
            <li><a href="<?=base_url().'index/recommended'?>">Recommended Readings</a></li>
            <li><a href="<?=base_url().'index/others'?>">Others</a></li>
            <li><a href="<?=base_url().'index/demo'?>">Step Demo</a></li>
        </ul>
    </div>
</div>
<div class="container c-bg-1">
    <div class="wrap">
        <div class="content">
            <div class="circle">
                <ul>
                    <li class="step-1">
                        <a href="<?=base_url().'index/clinical/1'?>"><span>Clinical Scenario Recommended Readings</span><i></i></a>
                        <div class="info">
                            <h1>Leaning Objectives</h1>
                            <p>1.To describe the 8 steps in Clinical Reasoning Cycle</p>
                            <p>2.To apply each step of Clinical Reasoning in a case study</p>
                            <p>1.To describe the 8 steps in Clinical Reasoning Cycle</p>
                            <p>2.To apply each step of Clinical Reasoning in a case study</p>
                        </div>
                    </li>
                    <li class="step-2">
                        <a href="<?=base_url().'index/clinical/14'?>"><span>Clinical Scenario Recommended Readings</span><i></i></a>
                        <div class="info">
                            <h1>Leaning Objectives</h1>
                            <p>1.To describe the 8 steps in Clinical Reasoning Cycle</p>
                            <p>2.To apply each step of Clinical Reasoning in a case study</p>
                        </div>
                    </li>
                    <li class="step-3">
                        <a href="<?=base_url().'index/clinical/31'?>"><span>Clinical Scenario Recommended Readings</span><i></i></a>
                        <div class="info">
                            <h1>Leaning Objectives</h1>
                            <p>1.To describe the 8 steps in Clinical Reasoning Cycle</p>
                            <p>2.To apply each step of Clinical Reasoning in a case study</p>
                        </div>
                    </li>
                    <li class="step-4">
                        <a href="<?=base_url().'index/clinical/46'?>"><span>Clinical Scenario Recommended Readings</span><i></i></a>
                        <div class="info">
                            <h1>Leaning Objectives</h1>
                            <p>1.To describe the 8 steps in Clinical Reasoning Cycle</p>
                            <p>2.To apply each step of Clinical Reasoning in a case study</p>
                        </div>
                    </li>
                    <li class="step-5">
                        <a href="<?=base_url().'index/clinical/52'?>"><span>Clinical Scenario Recommended Readings</span><i></i></a>
                        <div class="info">
                            <h1>Leaning Objectives</h1>
                            <p>1.To describe the 8 steps in Clinical Reasoning Cycle</p>
                            <p>2.To apply each step of Clinical Reasoning in a case study</p>
                        </div>
                    </li>
                    <li class="step-6">
                        <a href="<?=base_url().'index/clinical/57'?>"><span>Clinical Scenario Recommended Readings</span><i></i></a>
                        <div class="info">
                            <h1>Leaning Objectives</h1>
                            <p>1.To describe the 8 steps in Clinical Reasoning Cycle</p>
                            <p>2.To apply each step of Clinical Reasoning in a case study</p>
                        </div>
                    </li>
                    <li class="step-7">
                        <a href="<?=base_url().'index/clinical/64'?>"><span>Clinical Scenario Recommended Readings</span><i></i></a>
                        <div class="info">
                            <h1>Leaning Objectives</h1>
                            <p>1.To describe the 8 steps in Clinical Reasoning Cycle</p>
                            <p>2.To apply each step of Clinical Reasoning in a case study</p>
                        </div>
                    </li>
                    <li class="step-8">
                        <a href="<?=base_url().'index/clinical/70'?>"><span>Clinical Scenario Recommended Readings</span><i></i></a>
                        <div class="info">
                            <h1>Leaning Objectives</h1>
                            <p>1.To describe the 8 steps in Clinical Reasoning Cycle</p>
                            <p>2.To apply each step of Clinical Reasoning in a case study</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>