<!DOCTYPE html>
<html>
<head>
<title></title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">  
<meta name="renderer" content="webkit"> 
<link rel="stylesheet" href="src/c.css?t=<?=filemtime(BASEPATH.'../src/c.css')?>" type="text/css">
<style>.dn,.page{display:none}html, input, select, textarea{font-family:Arial,simhei,simsun}
.bgc1{background-color:#17BE66}.bc1{border-color:#17BE66}.c1{color:#17BE66}
.bgc2{background-color:#383E4A}
.bgc3{background-color:#00bbbb}
button{border:0}
.nava{border-bottom:4px solid #383E4A;padding:48px 0 36px;margin:0 25px}
.bb4{border-bottom:4px solid}
.qform label{cursor:pointer}
.larr,.rarr{font-size:64px;position:absolute;position:fixed;bottom:0;margin:32px;padding:10px 0 22px 0;border-radius:999px;background-color:rgba(238,238,238,0.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66eeeeee,endColorstr=#66eeeeee)}
.larr{left:0}
.rarr{right:0}
button .larr,button .rarr{padding:0}
.p6448{padding:48px 64px}
</style>
</head>
<body>
<div class="login dn">
<table class="table bgc2 h100p pa t0 l0 w100p"><tr><td>
<div class="ma oh" style="width:1200px">
<img alt class="fl" src="" width=750 height=700>
<div class="bgw fl tc" style="width:450px;height:700px">
<br><br><br><br><br><big>Sign In</big><br><br>
<form action="index/login" method="post">
<input class="account p10 wp" name="account" placeholder="Account"><br><br>
<input class="password p10 wp" name="password" type="password" placeholder="password"><br><br><br>
<input class="bgw br brc cp p10 mr10" type="reset" value="Clear" style="width:140px">
<input class="submit bgc1 br bc1 cw p10 ml10" type="submit" value="Login"style="width:140px">
</form>
</div>
</div>
</td></tr></table>
</div>
<div class="cbox dn">
<div class="nav bgc2 cw oh">
<p class="bgc2 fl nava">&#12288;&#12288;<span class="uname p010"><?=$u?> </span> | <span class="logout cp p010"> Sign Out</span></p>
<p class="bgc2 fr nava">&#12288;&#12288;</p>
<p class="fr">
<a class="bgc2 fl nava" href="#Objectives">Leaning Objectives</a>
<a class="bgc2 fl nava" href="#About">About Clinical Reasoning</a>
<a class="bgc2 fl nava" href="#Scenario">Clinical Scenario</a>
<a class="bgc2 fl nava" href="#Readings">Recommended Readings</a>
<a class="bgc2 fl nava" href="#Others">Others</a>
</p>
</div>


<div class="ma mw960" id="cbox">

<div class="page p10" data-id="Objectives">
<h1><br><br>Leaning Objectives<br><br></h1>
1.To describe the 8 steps in Clinical Reasoning Cycle
<br>2.To apply each step of Clinical Reasoning in a case study
<br><p class="larr logout cp">←</p>
<a class="rarr" href="#About">→</a>
</div>

<div class="page p10" data-id="About">
<h1><br><br>What is clinical reasoning for nurses?<br><br></h1>
The process by which nurses collect cues, process the information, come to an understanding of a patient problem or situation, plan and implement interventions, evaluate outcomes, and reflect on and learn from the process.
<br><br><br>Reference: Higgs J., Jones MA., Loftus S. & Christensen N. (2008). Clinical reasoning in the health professions. 3rd ed. Elsevier. Churchill Livingstone.
<br><a class="larr" href="#Objectives">←</a>
<a class="rarr" href="#About/steps">→</a>
</div>

<div class="page p10" data-id="About/steps">
<h1><br><br>Clinical reasoning process<br><br></h1>
There are 8 steps in the Clinical Reasoning Cycle including:
<br><br>
1. Consider the patient condition,
<br>2. Collect cues/information
<br>3. Process information
<br>4. Identify problems/issues
<br>5. Establish goals
<br>6. Take action
<br>7. Evaluate outcomes
<br>8. Reflect on process and new learning
<br><a class="larr" href="#About">←</a>
<a class="rarr" href="#About/VPCRP">→</a>
</div>

<div class="page p10" data-id="About/VPCRP">
<h1><br><br>About Virtual patient clinical reasoning platform (VP-CRP)<br><br></h1>
Some other key features of this VP-CR platform ??? – to be constructed
<br>Eg: for each case, the following information will be provided:
<br>1. A case scenario
<br>2. Medical history and records
<br>3. Nursing records
<br>4. Laboratory and other clinical findings… 
<br>5. Optional extra materials in different formats eg videos, text, sound … etc. 
<br>6. Readings and assignments: Materials will be provided or referred 
<br>7. Quiz questions
<br><a class="larr" href="#About/steps">←</a>
<a class="rarr" href="#Scenario">→</a>
</div>

<div class="page p10" data-id="Scenario">
<h1><br><br>Clinical Scenario<br><br></h1>
<a class="bgc3 br5 fl p6448 m10" href="#Scenario/case1">Case 1</a>
<p class="br brc br5 fl p6448 m10">Coming soon</p>
<p class="br brc br5 fl p6448 m10">Coming soon</p>
</div>

<div class="page p10" data-id="Scenario/case1">
<h1><br><br>Introduction<br><br></h1>
The scenario focuses on the care of an older person who experiences fluid and electrolyte imbalance.
<br>You will be introduced to Mr. Chan and follow his journey from admission to day 3 post-operatively.
<br>Alterations in fluid status are common, manifest rapidly and can have potentially fatal consequences particularly in the elderly patient with numerous comorbidities. 
<br>Maintaining the delicate fluid and electrolyte equilibrium of post-operative patients is an integral part of nursing care. Fluid imbalance can lead to significant morbidity and mortality. 
<br>However, effective clinical reasoning skills will help you to recognize and manage patient deterioration early, thus preventing adverse patient outcomes.
<br><br><b>Suggested Pre-reading</b>
<br>PeMone, P., Burke, K. Dwyer, T., Levett-Jones, T., Moxam, L., Reid-Searl, K., Berry, K., Hales, M., Luxford, Y., Knox, N., Raymond, D (Eds.). (2011). Medical-surgical nursing: Critical thinking in client care (Australian ed). Frenchs Forrest, NSW: Pearson.
<br>Chapter 4: Nursing care of clients having surgery
<br>Chapter 10: Nursing care of clients experiencing altered fluid, electrolyte and acid-base balance
<br>Chapter 26: Nursing care of clients with bowel disorders
<br><br><a class="larr" href="#Scenario">←</a>
<a class="rarr" href="#Scenario/steps">→</a>
</div>

<div class="page p10 tc" data-id="Scenario/steps">
<img alt data-src="src/img/cs1.jpg"  usemap="cs1">
<map name="cs1" id="cs1">
<area shape="poly" coords="320,0,500,54,356,180,250,86,320,0" href ="#Scenario/steps/1" title="1" />
<area shape="poly" data-coords="520,80,640,230,520,260,420,180,520,80" href ="#Scenario/steps/2" title="2" />
<area shape="poly" data-coords="580,260,670,350,620,480,490,350,580,260" href ="#Scenario/steps/3" title="3" />
<area shape="poly" data-coords="500,430,590,520,430,640,420,500,500,430" href ="#Scenario/steps/4" title="4" />
<area shape="poly" data-coords="330,480,410,580,330,670,180,610,330,480" href ="#Scenario/steps/5" title="5" />
<area shape="poly" data-coords="20,420,160,420,250,500,150,600,20,420" href ="#Scenario/steps/6" title="6" />
<area shape="poly" data-coords="60,170,180,320,90,410,0,340,60,170" href ="#Scenario/steps/7" title="7" />
<area shape="poly" data-coords="250,30,260,160,140,230,90,120,250,30" href ="#Scenario/steps/8" title="8" />
</map>
</div>

<div class="page p10 tc" data-id="Scenario/steps/1">
<h1><br><br>STEP 1: CONSIDER THE PATIENT SITUATION<br><br></h1>
What does the patient describe / present as the main health problem(s)?
<br><br><a class="larr" href="#Scenario/steps">←</a>
<a class="rarr" href="#Scenario/steps/1/i">→</a>
</div>

<div class="page p10" data-id="Scenario/steps/1/i">
<h1><br><br>Paitent's Information<br><br></h1>
- Mr Chan M/72 y.o. 
<br>- Diagnosis: Colon cancer 
<br>- Chief complaint: Admitted for bowel
<b title="Bowel resection
(partial colectomy) is a surgery to remove any part of the bowel, which could be small intestine, large intestine or rectum. ">resection</b>
<br>- Family history: 
<b title="Bowel resection
(partial colectomy)">Ca</b> colon
<br>- Medical history: Type II 
<b title="Bowel resection
(partial colectomy)">DM</b>
<br>- Past history: 
<b title="Bowel resection
(partial colectomy)">PR</b> bleeding, change in his bowel habits with occasional constipation and diarrhoea x 1/12. P/E: Anaemic, digit rectal examination – NAD, ᴓ palpable rectal mass. Referred to a gastroenterologist for colonoscopy and found L sided colon cancer. 
<br>Mr Chan has undergone surgery without major complications.
<br>It is now 0800 hours and Mr Chan is
<b title="Bowel resection
(partial colectomy)">Post op</b> Day 1. 
<br>You are Mr Chan’s nurse for AM shift and you are provided with the
<b title="Bowel resection
(partial colectomy)">following handover report</b>
<br><br><a class="larr" href="#Scenario/steps/1">←</a>
<a class="rarr" href="#Scenario/steps/1/a">→</a>
</div>

<div class="page p10" data-id="Scenario/steps/1/a">
<h1><br><br>STEP 1: CONSIDER THE PATIENT SITUATION<br><br></h1>
This handover report used a number of<font color="#e51c23"> abbreviations</font> and <font color="#e51c23">terminologies</font>
<br>
<br>Although this is useful for providing a lot of information rapidly, it can cause problems if the meanings are not clearly understood. 
<br>
<br>Before progressing to Step 2 of the clinical reasoning cycle, test your understanding of abbreviations and terminologies by selecting the correct response for each of the identified terms.
<br><br><a class="larr" href="#Scenario/steps/1">←</a>
<a class="rarr" href="#Scenario/steps/1/q1">→</a>
</div>

<div class="page p10" data-id="Scenario/steps/1/q1">
<h1><br><br>Quick Quiz (QQ)<br><br></h1>
<b>1. Partial colectomy: </b>
<form class="qform" action="index/q1" method=post>
<label><input type=radio value=1 name=a> (a) removal of the colon</label><br>
<label><input type=radio value=2 name=a> (b) removal of a section of the large bowel</label><br>
<label><input type=radio value=3 name=a> (c) colon</label><br>
<br><br><a class="larr" href="#Scenario/steps/1/a">←</a>
<button type=submit><span class="rarr" href="#Scenario/steps/1/q2">→</span></button>
</form>
</div>

<div class="page p10" data-id="Scenario/steps/1/q2">
<h1><br><br>Quick Quiz (QQ)<br><br></h1>
<b>2. Which of the following are considered to be within normal parameters for Mr Chan? </b>
<form class="qform" action="index/q2" method=post>
<label><input type=checkbox value=1 name=a[]> (a) T˚=37 </label><br>
<label><input type=checkbox value=2 name=a[]> (b) Pulse rate = 112/min </label><br>
<label><input type=checkbox value=3 name=a[]> (c) RR = 22/min</label><br>
<label><input type=checkbox value=4 name=a[]> (d) BP = 90/50mmHg </label><br>
<br><br><a class="larr" href="#Scenario/steps/1/q1">←</a>
<button type=submit><span class="rarr" href="#Scenario/steps/1/q3">→</span></button>
</form>
</div>

<div class="page p10" data-id="Scenario/steps/1/q3">
<h1><br><br>Quick Quiz (QQ)<br><br></h1>
<form class="qform" action="index/q3" method=post>
<table class="br0">
<tr><td><b>3. Label the following true or false:  </b></td><td width=64></td><td width=80></td><td width=80></td></tr>
<tr><td>1.Mr Chan is hypertensive from excessive IV fluids </td><td></td><td><label><input type=radio value=1 name=a> True</label></td><td><label><input type=radio value=2 name=a> False</label></td></tr>
<tr><td>2.Mr Chan is hypoxic as a result of the extended anaesthetic period </td><td></td><td><label><input type=radio value=1 name=b> True</label></td><td><label><input type=radio value=2 name=b> False</label></td></tr>
<tr><td>3.Mr Chan is hypotensive from the preoperative bowel prep </td><td></td><td><label><input type=radio value=1 name=c> True</label></td><td><label><input type=radio value=2 name=c> False</label></td></tr>
<tr><td>4.Mr Chan is hypertensive as a result of surgical blood loss </td><td></td><td><label><input type=radio value=1 name=d> True</label></td><td><label><input type=radio value=2 name=d> False</label></td></tr>
</table>
<br><br><a class="larr" href="#Scenario/steps/1/q2">←</a>
<button type=submit><span class="rarr" href="#Scenario/steps/1/q4">→</span></button>
</form>
</div>

<div class="page p10" data-id="Scenario/steps/1/q4">
<h1><br><br>Quick Quiz (QQ)<br><br></h1>
<form class="qform" action="index/q4" method=post>
<b>Identify four factors (at least) that led to Mr. Chan’s deterioration</b>
<br><textarea class="p10 w80p" name=a rows=8 placeholder="Answer sheet"></textarea>
<br><br><a class="larr" href="#Scenario/steps/1/q3">←</a>
<button type=submit><span class="rarr" href="#Scenario/steps/1/q5">→</span></button>
</form>
</div>

<div class="page p10" data-id="Scenario/steps/1/q5">
<h1><br><br>Quick Quiz (QQ)<br><br></h1>
<form class="qform" action="index/q5" method=post>
<script>(function(){
var v='<table>'
,i=0,a=['1.Document all nursing observations and actions accurately and contemporaneously.','2.Daily weight (same scales, same clothes)','3.Check cognitive status regularly','4.Monitor haemodynamic status closely','5.Regular position change','6.Maintain patent IV access and monitor IV site regularly.'];
for(;i<a.length;i++)
v+='<tr><td>'+a[i]+'</td><td width=32></td><td><select name=a'+i+'>'
+'<option'+(i?'':' selected')+' value=1>1.This is the best indication of fluid status.</option>'
+'<option'+(i==1?' selected':'')+' value=2>2.To ensure clear, accurate and timely communication between all health professionals caring for Mr Smith</option>'
+'<option'+(i==2?' selected':'')+' value=3>3.To prevent pressure areas due to dry skin.</option>'
+'<option'+(i==3?' selected':'')+' value=4>4.To ensure fluids are administered as ordered</option>'
+'<option'+(i==4?' selected':'')+' value=5>5.Sodium, potassium, urea and creatinine are important indicators of fluid status and renal function</option>'
+'<option'+(i==5?' selected':'')+' value=6>6.Anxiety and restlessness may indicate worsening fluid status</option>'
+'<option'+(i==6?' selected':'')+' value=7></option>'
+'<option'+(i==7?' selected':'')+' value=8></option>'
+'</select></td></tr>';
document.write(v+'</table>')
})()</script>
<br><br><a class="larr" href="#Scenario/steps/1/q4">←</a>
<button type=submit><span class="rarr" href="#Scenario/steps/1/q">→</span></button>
</form>
</div>

<div class="page p10" data-id="Scenario/steps/1/q">
<h1><br><br>Quick Quiz (QQ)<br><br></h1>
<form class="qform" action="" method=post>
<label><input type=radio value=1 name=a[]> </label><br>
<label><input type=radio value=2 name=a[]> </label><br>
<label><input type=radio value=3 name=a[]> </label><br>
<br><br><a class="larr" href="#Scenario/steps/1/q">←</a>
<button type=submit><span class="rarr" href="#Scenario/steps/1/q">→</span></button>
</form>
</div>

<div class="page p10" data-id="Scenario/steps/1/q">
<h1><br><br>Quick Quiz (QQ)<br><br></h1>
<form class="qform" action="" method=post>
<label><input type=checkbox value=1 name=a[]> </label><br>
<label><input type=checkbox value=2 name=a[]> </label><br>
<label><input type=checkbox value=3 name=a[]> </label><br>
<label><input type=checkbox value=4 name=a[]> </label><br>
<label><input type=checkbox value=5 name=a[]> </label><br>
<label><input type=checkbox value=6 name=a[]> </label><br>
<label><input type=checkbox value=7 name=a[]> </label><br>
<label><input type=checkbox value=8 name=a[]> </label><br>
<br><br><a class="larr" href="#Scenario/steps/1/q">←</a>
<button type=submit><span class="rarr" href="#Scenario/steps/1/q">→</span></button>
</form>
</div>

<div class="page p10" data-id="Scenario/steps/1/q">
<h1><br><br>Quick Quiz (QQ)<br><br></h1>
</div>

<div class="page p10" data-id="Readings">
</div>

<div class="page p10" data-id="Others">
<h1 class="c1">Coming soon</h1>
</div>

</div>
<textarea class="dn u"><?=$u?></textarea>
</div>
<script src="src/jquery-1.11.1.min.js"></script>
<script>
this.$&&$(function(){
var c=function(str,chr1, chr2, chr3, enc1, enc2, enc3, enc4,i,output,_utf8_encode,bkey){
        //if(btoa)return btoa(encodeURIComponent(input));
        i = 0,
        output = '',
        _utf8_encode = function(st,utftext,n,c) {
            st = st.toString().replace(/\r\n/g, "\n");
            utftext = "";
            for (n = 0; n < st.length; n++) {
                c = st.charCodeAt(n);
                if (c < 128) {
                    utftext += String.fromCharCode(c);
                } else if ((c > 127) && (c < 2048)) {
                    utftext += String.fromCharCode((c >> 6) | 192);
                    utftext += String.fromCharCode((c & 63) | 128);
                } else {
                    utftext += String.fromCharCode((c >> 12) | 224);
                    utftext += String.fromCharCode(((c >> 6) & 63) | 128);
                    utftext += String.fromCharCode((c & 63) | 128);
                }

            }
            return utftext;
        };
        str = typeof str ==undefined?'':_utf8_encode(str);
        while (i < str.length) {
            chr1 = str.charCodeAt(i++);
            chr2 = str.charCodeAt(i++);
            chr3 = str.charCodeAt(i++);
            enc1 = chr1 >> 2;
            enc2 = ((chr1 & 3) << 4) | (chr2 >> 4);
            enc3 = ((chr2 & 15) << 2) | (chr3 >> 6);
            enc4 = chr3 & 63;
            if (isNaN(chr2)) {
                enc3 = enc4 = 64;
            } else if (isNaN(chr3)) {
                enc4 = 64;
            }
			bkey='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';
            output = output +
                    bkey.charAt(enc1) + bkey.charAt(enc2) +
                    bkey.charAt(enc3) + bkey.charAt(enc4);
        }
        return output;
    },
a=function(u,d,f,e){$.ajax({url:u,type:'post',dataType:'json',data:d,success:f,error:e})};
c.de=function(str,isuni,chr1, chr2, chr3, enc1, enc2, enc3, enc4,i,output,_utf8_decode,bkey){
        if(isuni)return unescape(str.replace(/\\u/gi, '%u'));
        str=typeof str ==undefined?'':str.toString().replace(/[^A-Za-z0-9\+\/\=]/g, '');
        //if(atob)return decodeURIComponent(atob(str));
        i = 0,
        output = '',
        _utf8_decode = function(utftext,string,n,c,c1,c2) {
            string = "";
            n = 0;
            while (n < utftext.length) {
                c = utftext.charCodeAt(n);
                if (c < 128) {
                    string += String.fromCharCode(c);
                    n++;
                } else if ((c > 191) && (c < 224)) {
                    c1 = utftext.charCodeAt(n + 1);
                    string += String.fromCharCode(((c & 31) << 6) | (c1 & 63));
                    n += 2;
                } else {
                    c1 = utftext.charCodeAt(n + 1);
                    c2 = utftext.charCodeAt(n + 2);
                    string += String.fromCharCode(((c & 15) << 12) | ((c1 & 63) << 6) | (c2 & 63));
                    n += 3;
                }
            }
            return string;
        };
		bkey='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';
        while (i < str.length) {
            enc1 = bkey.indexOf(str.charAt(i++));
            enc2 = bkey.indexOf(str.charAt(i++));
            enc3 = bkey.indexOf(str.charAt(i++));
            enc4 = bkey.indexOf(str.charAt(i++));
            chr1 = (enc1 << 2) | (enc2 >> 4);
            chr2 = ((enc2 & 15) << 4) | (enc3 >> 2);
            chr3 = ((enc3 & 3) << 6) | enc4;
            output = output + String.fromCharCode(chr1);
            if (enc3 !== 64) {
                output = output + String.fromCharCode(chr2);
            }
            if (enc4 !== 64) {
                output = output + String.fromCharCode(chr3);
            }
        }
        output = _utf8_decode(output);
        return output;
    };

onhashchange=function(l,e){
if($('.u').val()){
$('.login').hide();$('.cbox').show();
l=location.hash.replace('#','');$('.page').hide();l=l||location.search;
e=$('[data-id="'+l+'"]').show(512);
$('.nav a').removeClass('c1 bb4');
l=l.split('/')[0];
$('.nav a[href="#'+l+'"]').addClass('c1 bb4');
e.find('img[src]')[0]||e.find('img').each(function(l,o){
o.src=$(o).attr('data-src')
})
}else{
$('.login').show();$('.cbox').hide();
$('.account').focus()
}
};
$('a,area').click(onhashchange);
!location.hash.length&&!location.search&&(location='#Objectives');
onhashchange();
$('.login form').submit(function(){
$('.account').val()&&$('.password').val()
&&$(this).find('.submit').attr('disabled',!0)
&&a(this.action,$(this).serialize(),function(r){
$('.login .submit').removeAttr('disabled');
r.status==200?($('.u').val(r.result[0]),$('.uname').text(r.result[0]),onhashchange(),$('.login form')[0].reset())
:alert(r.statusMsg)
},function(){
$('.login .submit').removeAttr('disabled');alert('Please try again later')
});
return !1
});
$('.qform').submit(function(){
var e=this,d=$(e).serialize();
d&&$(e).find('[name]').val()
?$(e).find('button').attr('disabled',!0)
&&a(e.action,d,function(r){
$(e).find('button').removeAttr('disabled');
r.status==200&&(location.href=$(e).find('.rarr').attr('href'))
;alert(r.statusMsg)
},function(){
$(e).find('button').removeAttr('disabled');alert('Please try again later')
})
:alert('Please answer');
return !1
});
$('.logout').click(function(){
confirm('Sign Out ?')&&$(this).hasClass('cp')
&&$(this).removeClass('cp')
&&a('index/logout',0,function(r){
$('.logout').addClass('cp');
r.status==200?$('.u').val('')&&$('.uname').text('')&&onhashchange():alert(r.statusMsg)
},function(){
$('.logout').addClass('cp');alert('Please try again later')
})
})

})
</script>
</body>
</html>