<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning Objectives</title>
    <link rel="stylesheet" href="<?=base_url().'src/css/base.css'?>">
    <!--add css-->
    <link rel="stylesheet" href="<?=base_url().'src/css/style-login.css'?>">
    <!--add css end-->
     <script  type="text/javascript"  src="<?php echo base_url();?>src/js/jquery-1.8.3.min.js"></script>
</head>
<body>
    <div class="login-bg">
        <div class="login fn-hide">
            <form action="">
                <h1>Sign In</h1>
                <input class="text" type="text" placeholder="Account">
                <input class="text" type="password" placeholder="Password">
                <span class="error active">Account or Password error</span>
                <button class="submit" type="submit" title="Login">Login</button>
                <button class="reset" type="reset" title="Login Out">Clear</button>
            </form>
        </div>
        <div class="login polyu-login">
            <form action="https://pusidp4-dev.polyu.edu.hk/nidp/saml2/sso?id=6&sid=0&option=credential&sid=0" method="get">
                <h1>Sign In</h1>
                <button class="btn-polyu-login" type="submit" title="Polyu Login">Polyu Login</button>
            </form>
        </div>
    </div>
    
    
</body>
</html>