<!DOCTYPE html>
<html lang="en" class="bg4">
<head>
    <meta charset="UTF-8">
    <title>Clinical Scenario</title>
   <link rel="stylesheet" href="<?=base_url().'src/css/base.css'?>">
    <link rel="stylesheet" href="<?=base_url().'src/css/common.css'?>">
    <link rel="stylesheet" href="<?=base_url().'src/css/layout.css'?>">
    <link rel="stylesheet" href="<?=base_url().'src/css/module.css'?>">
    <!--add css-->
    <link rel="stylesheet" href="<?=base_url().'src/css/style-step.css'?>">
    <!--add css end-->
    <script src="<?=base_url().'src/js/jquery-1.8.3.min.js'?>"></script>
</head>
<body>
<div class="head" data-val="others">
    <!--common.js自动载入head.html 注意：data-val值如果与菜单栏的data-val值匹配，则匹配菜单项状态加亮-->
</div>
<div class="container">
    <div class="step-box fn-clear">
       
        <div class="step-wrap">
            <div class="step-cont">
                <div class="title">Care for patients with fluid and electrolyte imbalance</div>
                <p class="f-18 l-30"><span style="display: inline-block; width: 230px;">What is colon resection?</span><a class="c1-primary" href="https://www.youtube.com/watch?v=b0msKgqTjDU">https://www.youtube.com/watch?v=b0msKgqTjDU</a></p>
                <p class="f-18 l-30"><span style="display: inline-block; width: 230px;">What is a colostomy?</span><a class="c1-primary" href="https://www.youtube.com/watch?v=XscbQTemf_g">https://www.youtube.com/watch?v=XscbQTemf_g</a></p>
                <p class="f-18 l-30">Pathophysiology of fluid and electrolyte balance in the older adult surgical patient El-Sharkawy, A. M., Sahota, O., Maughan, R. J., & Lobo, D. N. (2014). The pathophysiology of fluid and electrolyte balance in the older adult surgical patient. Clinical Nutrition, 33(1), 6-13.</p>
                <p class="f-18 l-30"><a class="c1-primary" href="https://scholar.google.com.hk/scholar?hl=zh-TW&as_sdt=0%2C5&q=The+pathophysiology+of+fluid+and+electrolyte+balance+in+the+older+adult+surgical+patient&btnG=">https://scholar.google.com.hk/scholar?hl=zh-TW&as_sdt=0%2C5&q=The+pathophysiology+of+fluid+and+<br>electrolyte+balance+in+the+older+adult+surgical+patient&btnG=</a></p>
                <p class="f-18 l-30">Boore, J., Cook, N., & Shepherd, A. (2016). Essentials of Anatomy and Physiology for Nursing Practice. SAGE.<br>仓静, & 金琳. (2015). 外科病人麻醉期液体治疗. 中国实用外科杂志, 35(2), 136-139.</p>
                <div class="title" style="margin-top: 30px;">Colostomy Care Teaching Videos</div>
                <p class="f-18 l-30">Colostomy Care Teaching Video</p>
                <p class="f-18 l-30"><a class="c1-primary" href="https://www.youtube.com/watch?v=gWZygImpGng">https://www.youtube.com/watch?v=gWZygImpGng</a></p>
                <p class="f-18 l-30" style="margin-top: 30px;">Colon Cancer: how to change the ostomy bag after a colostomy</p>
                <p class="f-18 l-30"><a class="c1-primary" href="https://www.youtube.com/watch?v=0uahhUxNez0">https://www.youtube.com/watch?v=0uahhUxNez0</a></p>
            </div>
        </div>
        <div class="step-help" data-val="">
            <!--common.js自动载入step-help.html 注意：data-val值为1，则只加载一个，否则加载全部-->
        </div>
    </div>
    <div class="tx-c">
        <a class="btn-prev" href="<?=base_url().'index/recommended'; ?>" title="&lt;&nbsp;prev">prev</a>
    </div>
</div>
<script>

        /**
     * Created by lzm on 2018/3/30.
     */
    $(function(){
        // 载入头部.head
        // 给当前页面添加样式
        $('.head').load("<?=base_url().'index/head'?> .wrapper");
        navActive();
        function navActive(){
            var head = $('.head');
            var aLink = $('.nav li > a');
            if(!head.length) return false;// 没有.head则不执行下面
            if(aLink.length){
                var hVal = $('.head').attr('data-val');
                for(var i = 0, len = aLink.length; i < len; i++){
                    var aVal = aLink.eq(i).attr('data-val');
                    if(aVal == hVal){
                        aLink.eq(i).parent().addClass('active');
                    }
                }
            }else{
                setTimeout(function(){
                    navActive();
                }, 100);
            }
        }

        // 载入step-floor
        // .step-floor添加样式
        $('.step-floor').load("<?=base_url().'index/stepfloor'?>");
        stepFloorActive();
        function stepFloorActive(){
            var floor = $('.step-floor');
            var dataVal = floor.attr('data-val');
            var li = $('.step-floor li');
            if(!floor.length) return false;// 没有.step-floor则不执行
            if(dataVal && li.length){
                for(var i = 0; i < dataVal; i++){
                    li.eq(i).addClass('active');
                }
            }
            else{
                setTimeout(function(){
                    stepFloorActive();
                }, 100)
            }
        }

        // 载入step-help
        // .step-help切换
        $('.step-help').load("<?=base_url().'index/stepfhelp'?>");
        stepHelpToggle();
        function stepHelpToggle(){
            var help = $('.step-help');
            var link = $('.step-help-link');
            var intro = $('.step-help-intro');
            var close = $('.step-help-intro .intro-close');
            if(!help.length) return false;// 没有.step-help则不执行
            if(link.length){
                link.bind('click', function(){
                    intro.not($(this).next()).fadeOut();
                    $(this).next().fadeToggle();
                });
                close.bind('click', function(){
                    $(this).parent().fadeOut();
                });
                var dataVal = help.attr('data-val');
                if(dataVal && dataVal == '1'){
                    for(var i = link.length; i > 0; i--){
                        link.eq(i).parent().remove();
                    }
                }
            }else{
                setTimeout(function(){
                    stepHelpToggle();
                }, 100);
            }
        }

        // 图片放大展示
        $('.img-s').bind('click', function(){
            $('.img-popbox').fadeIn();
        });
        $('.img-popbox-close').bind('click', function(){
            $('.img-popbox').fadeOut();
        });

        // 单选框切换
        radioToggle();
        function radioToggle(){
            var itemRadio = $('.item-radio input');
            var itemChecked = $('.item-radio input:checked');
            // 默认选中，添加样式
            for(var i = 0, len = itemChecked.length; i < len; i++){
                itemChecked.eq(i).parent().addClass('active');
            }
            // 点击清空name值相同样式，再给当前选中添加样式
            itemRadio.bind('click', function(){
                var itemName = $(this).prop('name');
                var itemRadioArr = $('.item-radio input[name=' + itemName + ']');
                itemRadioArr.parent().removeClass('active');
                $(this).parent().addClass('active');
            });
        }

        // 复选框切换
        checkboxToggle();
        function checkboxToggle(){
            var itemCheckbox = $('.item-checkbox input');
            var itemChecked = $('.item-checkbox input:checked');
            // 默认选中，添加样式
            for(var i = 0, len = itemChecked.length; i < len; i++){
                itemChecked.eq(i).parent().addClass('active');
            }
            // 给当前选中添加样式
            itemCheckbox.bind('click', function(){
                $(this).parent().toggleClass('active');
            });
        }

        // 仿下拉菜单
        var sTopInp = $('.select-top input');
        var sTopSpan = $('.select-top span');
        for(var i = 0, len = sTopInp.length; i < len; i++){
            if(sTopInp.eq(i).val()){
                sTopSpan.eq(i).addClass('active');
            }
        }
        // 点击选项.select-top
        $('.select-top').bind('click', function(){
            var sTopQ = $(this).prev('label');
            var sTopA = $(this).find('span');
            var sTopV = $(this).find('input');
            var sBottomP = $('.select-bottom').parents('.popbox');
            var sBottomQ = sBottomP.find('.select-title');
            var sBottomA = sBottomP.find('.select-bottom li');

            sBottomQ.html(sTopQ.html());

            // 给默认选中的选项添加样式
            if(sTopV.val()){
                for(var i = 0, len = sBottomA.length; i < len; i++){
                    sBottomA.eq(i).removeClass('active');
                    if(sBottomA.eq(i).attr('data-val') == sTopV.val()){
                        sBottomA.eq(i).addClass('active');
                    }
                }
            }
            sBottomP.fadeIn();

            // 选择某个选项.select-bottom li
            sBottomA.bind('click', function(){
                sTopA.html($(this).html()).addClass('active');
                sTopV.val($(this).attr('data-val'));
                sBottomP.fadeOut();
                sBottomA.unbind('click');//解绑
            });
        });


    });
    </script>
</body>
</html>