<!DOCTYPE html>
<html lang="en" class="second-page">
<head>
    <meta charset="UTF-8">
    <title>Step Demo</title>
    <link rel="stylesheet" href="<?=base_url().'src/css/base.css'?>">
    <link rel="stylesheet" href="<?=base_url().'src/css/common.css'?>">
    <link rel="stylesheet" href="<?=base_url().'src/css/layout.css'?>">
    <link rel="stylesheet" href="<?=base_url().'src/css/module.css'?>">
    <script type="text/javascript" src="<?php echo base_url();?>src/js/jquery-1.8.3.min.js"></script>
</head>
<body>
<div class="head h-bg-1">
    <div class="wrapper fn-clear">
        <div class="login">
            <a href="javascript:;">admin</a>
            <span class="line">|</span>
            <a href="javascript:;">Sign Out</a>
        </div>
        <ul class="nav">
            <li><a href="<?=base_url().'index'?>">Learning Objectives</a></li>
            <li><a href="<?=base_url().'index/about'?>">About Clinical Reasoning</a></li>
            <li><a href="<?=base_url().'index/step'?>" class="active">Clinical Scenario</a></li>
            <li><a href="<?=base_url().'index/recommended'?>">Recommended Readings</a></li>
            <li><a href="<?=base_url().'index/others'?>">Others</a></li>
            <li><a href="<?=base_url().'index/demo'?>">Step Demo</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="wrap">
        <div class="content fn-pd-20">
            <div class="case-list my-20">
                <p class="form-group s-h2">Clinical scenarios</p>
                <ul class="fn-clear">
                    <li class="active">Case1</li>
                    <li>Coming soon</li>
                    <li>Coming soon</li>
                    <li>Coming soon</li>
                </ul>
            </div>
            <div class="my-20">
                <p class="form-group s-h2">Introduction</p>
                <p class="form-group">The scenario focuses on the care of an older person who experiences fluid and electrolyte imbalance.</p>
                <p class="form-group">You will be introduced to Mr. Chan and follow his journey from admission to day 3 post-operatively.</p>
                <p class="form-group">Alterations in fluid status are common, manifest rapidly and can have potentially fatal consequences particularly in the elderly patient with numerous comorbidities.</p>
                <p class="form-group">Maintaining the delicate fluid and electrolyte equilibrium of post-operative patients is an integral part of nursing care. Fluid imbalance can lead to significant morbidity and mortality.</p>
                <p class="form-group">However, effective clinical reasoning skills will help you to recognize and manage patient deterioration early, thus preventing adverse patient outcomes.</p>
                <p class="form-group s-h4">Suggested Pre-reading</p>
                <p class="form-group">PeMone, P., Burke, K. Dwyer, T., Levett-Jones, T., Moxam, L., Reid-Searl, K., Berry, K., Hales, M., Luxford, Y., Knox, N., Raymond, D (Eds.). (2011). Medical-surgical nursing: Critical thinking in client care (Australian ed). Frenchs Forrest, NSW: Pearson.</p>
                <p class="form-group">Chapter 4: Nursing care of clients having surgery</p>
                <p class="form-group">Chapter 10: Nursing care of clients experiencing altered fluid, electrolyte and acid-base balance</p>
                <p class="form-group">Chapter 26: Nursing care of clients with bowel disorders</p>
                <div class="fn-clear s-btn">
                    <div class="fn-l"><button type="button">&lt; Prev</button></div>
                    <div class="fn-r"><button type="button">Next &gt;</button></div>
                </div>
            </div>
            <div class="my-20">
                <p class="form-group s-h1">STEP 1: CONSIDER THE PATIENT SITUATION</p>
                <p class="form-group s-h2">STEP 1: CONSIDER THE PATIENT SITUATION</p>
                <p class="form-group s-h3">STEP 1: CONSIDER THE PATIENT SITUATION</p>
                <p class="form-group s-h4">STEP 1: CONSIDER THE PATIENT SITUATION</p>
                <p class="form-group s-h5">STEP 1: CONSIDER THE PATIENT SITUATION</p>
                <p class="form-group s-h6">STEP 1: CONSIDER THE PATIENT SITUATION</p>
                <p class="form-group s-red">STEP 1: CONSIDER THE PATIENT SITUATION</p>
                <p class="form-group s-blue">STEP 1: CONSIDER THE PATIENT SITUATION</p>
                <p class="form-group s-line">STEP 1: CONSIDER THE PATIENT SITUATION</p>
                <p class="form-group s-bold">STEP 1: CONSIDER THE PATIENT SITUATION</p>
            </div>
            <div class="my-20">
                <strong>1. Partial colectomy:</strong>
                <form action="">
                    <div class="form-group">
                        <label class="lab-r"><input type="radio" name="radio-1" value="A">(a) removal of the colon</label>
                    </div>
                    <div class="form-group">
                        <label class="lab-r"><input type="radio" name="radio-1" value="B">(b) removal of a section of the large bowel</label>
                    </div>
                    <div class="form-group">
                        <label class="lab-r"><input type="radio" name="radio-1" value="C">(c) removal of section of the small bowel</label>
                    </div>
                    <div class="form-group s-btn">
                        <button type="submit">提交</button>
                        <button type="reset">重置</button>
                    </div>
                </form>
            </div>
            <div class="my-20">
                <strong>2. From the list below, identify the five cues that you believe are most relevant to your assessment of Mr Chan at this time. </strong>
                <form action="">
                    <div class="form-group">
                        <label class="lab-c"><input type="checkbox" name="checkbox-1" value="A">(a) Appetite – nil</label>
                    </div>
                    <div class="form-group">
                        <label class="lab-c"><input type="checkbox" name="checkbox-1" value="B">(b) Condition of oral mucosa – mouth dry tongue furrowed</label>
                    </div>
                    <div class="form-group">
                        <label class="lab-c"><input type="checkbox" name="checkbox-1" value="C">(c) Oral intake – sips only</label>
                    </div>
                    <div class="form-group">
                        <label class="lab-c"><input type="checkbox" name="checkbox-1" value="D">(d) Pain – 3-4 using VAS scale</label>
                    </div>
                    <div class="form-group">
                        <label class="lab-c"><input type="checkbox" name="checkbox-1" value="E">(e) Cognitive state – restless and anxious</label>
                    </div>
                    <div class="form-group">
                        <label class="lab-c"><input type="checkbox" name="checkbox-1" value="F">(f) Colour – pale</label>
                    </div>
                    <div class="form-group">
                        <label class="lab-c"><input type="checkbox" name="checkbox-1" value="G">(g) Skin turgor – poor</label>
                    </div>
                    <div class="form-group">
                        <label class="lab-c"><input type="checkbox" name="checkbox-1" value="H">(h) Level of thirst – patient reports extreme thirst</label>
                    </div>
                    <div class="form-group s-btn">
                        <button type="submit">提交</button>
                        <button type="reset">重置</button>
                    </div>
                </form>
            </div>
            <div class="my-20">
                <strong>3. From the list below, identify the five cues that you believe are most relevant to your assessment of Mr Chan at this time. </strong>
                <form action="">
                    <div class="form-group">
                        <label class="lab-t">
                            <p>reason1：</p>
                            <p><input type="text" name="reason1"></p>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="lab-t">
                            <p>reason2：</p>
                            <p><input type="text" name="reason2"></p>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="lab-t">
                            <p>reason3：</p>
                            <p><input type="text" name="reason3"></p>
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="s-btn">
                            <button type="submit">提交</button>
                            <button type="reset">重置</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="my-20">
                <strong>4. What nursing actions may have prevented Mr Chan’s deterioration? </strong>
                <form action="">
                    <div class="form-group">
                        <label class="lab-t">
                            <p>answer1：</p>
                            <p><textarea name="answer1"></textarea></p>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="lab-t">
                            <p>answer2：</p>
                            <p><textarea name="answer2"></textarea></p>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="lab-t">
                            <p>answer3：</p>
                            <p><textarea name="answer3"></textarea></p>
                        </label>
                    </div>
                    <div class="form-group s-btn">
                        <button type="submit">提交</button>
                        <button type="reset">重置</button>
                    </div>
                </form>
            </div>
            <div class="my-20">
                <form name="form" method="post" action="" class="fn-clear">
                    <div class="form-group">
                        <div class="s-lx">
                            <span>1.Running</span>
                            <select name="select-1">
                                <option value="">Place Select</option>
                                <option value="A">A.Michael</option>
                                <option value="B">B.David Beckham</option>
                                <option value="C">C.Michael Phelps</option>
                                <option value="D">D.Mike Tyson</option>
                                <option value="E">E.Usain Bolt</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="s-lx">
                            <span>2.Basketball</span>
                            <select name="select-2">
                                <option value="">Place Select</option>
                                <option value="A">A.Michael</option>
                                <option value="B">B.David Beckham</option>
                                <option value="C">C.Michael Phelps</option>
                                <option value="D">D.Mike Tyson</option>
                                <option value="E">E.Usain Bolt</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="s-lx">
                            <span>3.Football</span>
                            <select name="select-3">
                                <option value="">Place Select</option>
                                <option value="A">A.Michael</option>
                                <option value="B">B.David Beckham</option>
                                <option value="C">C.Michael Phelps</option>
                                <option value="D">D.Mike Tyson</option>
                                <option value="E">E.Usain Bolt</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="s-lx">
                            <span>4.Swimming</span>
                            <select name="select-4">
                                <option value="">Place Select</option>
                                <option value="A">A.Michael</option>
                                <option value="B">B.David Beckham</option>
                                <option value="C">C.Michael Phelps</option>
                                <option value="D">D.Mike Tyson</option>
                                <option value="E">E.Usain Bolt</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="s-lx">
                            <span>5.Boxing</span>
                            <select name="select-5">
                                <option value="">Place Select</option>
                                <option value="A">A.Michael</option>
                                <option value="B">B.David Beckham</option>
                                <option value="C">C.Michael Phelps</option>
                                <option value="D">D.Mike Tyson</option>
                                <option value="E">E.Usain Bolt</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group s-btn">
                        <button type="submit">提交</button>
                        <button type="reset">重置</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>