<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>list</title>
 <link rel="stylesheet" href="<?=base_url().'res/css/base.css'?>">
  <link rel="stylesheet" href="<?=base_url().'res/css/common.css'?>">
  <link rel="stylesheet" href="<?=base_url().'res/css/layout.css'?>">
  <script src="<?=base_url().'res/js/jquery-1.8.3.min.js'?>"></script>
   <script>
    function popSure(title, text, href){
        $('#popSure').show();
        $('#popSureTitle').html(title);
        $('#popSureText').html(text);
        $('#popSureHref').prop('href', href);
    }
  </script>
</head>
<body>
<div class="head">
  <div class="head-l">
    <a href="javascript:;" class="icon-back " title="Back"></a>
  </div>
  <div class="head-search">
    <form action="<?php echo base_url().'admin/account/'.$page;?>" method="post" class="fn-clear">
          <input id='search' name='key' type="text" value='<?=$search ?>' placeholder="ID/USER NAME">
        <button type="submit" title="Search"></button>
      </form>
  </div>
</div>
<div class="container">
  <div class="cont-top">
    <a href="javascript:;" title="Add" class="icon-add addUser">ADD</a>
  </div>
  <div class="cont-center">
    <table class="table">
      <tr>
        <th>ID</th>
        <th>USER NAME</th>
        <th>STATUS</th>
        <th>LAST LOGIN TIME</th>
        <th>OPERATION</th>
      </tr>
     
        <?php foreach ($data as $value){ ?>
        
         <tr>
        <td><?=$value['id'] ?></td>
        <td><?=$value['username'] ?></td>
          <?php if($value['status'] == 1){ ?>
                 <td>Active</td>
          <?php }else{ ?>
              <td>Inactive</td>
          <?php } ?> 
      
        <td><?=$value['last_time'] ?></td>
        <td>
          <div class="table-do">
              <?php if($value['status'] == 1){ ?>
               <a href="javascript:;" class="icon_lock_close" 
                 onclick="popSure('lock list', &quot;Are you sure lock <?=$value['username'] ?>？&quot;,
                             &quot;<?= base_url().'admin/updateAccount/'.$value['id'].'/'.$value['status'];?>  &quot;)" title="Close Lock">Close Lock</a>
            
          <?php }else{ ?>
              <a href="javascript:;" class="icon_lock_open"
                 onclick="popSure('lock list', &quot;Are you sure unlock <?=$value['username'] ?>？&quot;,
                             &quot;<?= base_url().'admin/updateAccount/'.$value['id'].'/'.$value['status'];?>  &quot;)" title="Close Lock">Close Lock</a>
            
          <?php } ?> 
            <a href="javascript:;" class="icon-delete" title="Delete" onclick="popSure('delete list', &quot;Are you sure delete <?=$value['username'] ?>？&quot;,
               &quot;<?= base_url().'admin/deleteAccount/'.$value['id'];?> &quot;)">Delete</a>
          </div>
        </td>
      </tr>
        
        <?php } ?> 
      
      
    </table>
  </div>
 
</div>

    <div class="cont-bottom">
    <div class="page">
      <a href="<?php $url = base_url().'admin/account/'.($page-1); echo $page <=1?'javascript:;':$url; ?>" 
          title="Prev" class="prev">Prev</a>
        
       <?php for($i=1; $i<=$totalPage; $i++){ ?>
       
       <a href="<?= base_url().'admin/account/'.$i;?>" title="<?php echo $i; ?>" 
        class="<?php echo $page==$i?'active':''; ?>"    > <?php echo $i; ?></a>

       <?php } ?>
       
       <a href=" <?php $url2 = base_url().'admin/account/'.($page+1); echo $page>=$totalPage?'javascript:;':$url2; ?>" 
          
          title="Next" class="next">Next</a>
    </div>
  </div>
<!--弹窗 addUser-->
<div class="p-box" id="addUser">
  <div class="p-box-cont">
    <div class="p-box-h">
      Add a New Manager
      <span class="close"></span>
    </div>
    <div class="p-box-c">
      <p class="title">ID:18</p>
      <form id='addForm' >
        <div class="form-group">
          <input name="username" type="text" placeholder="POLYU NETID">
        </div>
        <div class="form-group">
          <input name="password"  type="text" placeholder="PASSWORD">
        </div>
        <div class="form-group fn-clear">
          <button type="reset" title="Clear" class="fn-l c2-info">CLEAR</button>
          <button type="Submit" title="Submit" class="fn-r c2-warning">SUBMIT</button>
        </div>
        <div class="form-group fn-hide">
          <span class="c1-danger">Polyu Netid can't repeat!</span>
        </div>
      </form>
    </div>
  </div>
    
  
    
</div>
<!--弹窗 addUser end-->

<!--弹窗 是否确认-->
<div class="p-box" id="popSure">
  <div class="p-box-cont">
    <div class="p-box-h">
      <span id="popSureTitle">11</span>
      <span class="close"></span>
    </div>
    <div class="p-box-c">
      <div class="form-group">
        <div id="popSureText">22</div>
      </div>
      <div class="form-group fn-clear">
        <a href="javascript:;" title="Yes" class="fn-l c2-info" id="popSureHref">Yes</a>
        <a href="javascript:;" title="No" class="fn-r c2-default close">No</a>
      </div>
    </div>
  </div>
</div>
<!--弹窗 是否确认 end-->

<script >
    
      // 添加用户
  $('.addUser').bind('click', function () {
    $('#addUser').show();
  });

  // 关闭弹窗
  $('.p-box .close').bind('click', function () {
    var $currentPopbox = $(this).parents('.p-box');
    $currentPopbox.find('form')[0].reset();
    $currentPopbox.hide();
  });
  
  
  
   $("#addForm").submit(function () {
              
            $.ajax({
                url: "<?=base_url().'admin/addAccount' ?>",
                data: $(this).serialize(),
                dataType: 'json',
                type: 'post',
                success: function (data) {
                    //		
                    if (data && data.status == 200) {
                        
                        var $currentPopbox = $('.p-box .close').parents('.p-box');
                        $currentPopbox.find('form')[0].reset();
                        $currentPopbox.hide();
                        
                        window.location.href = data.url;
                    } else {
                                       
                      
                    }
                }, error: function (e) {
//                    alert("error!");
                }
            });

            return !1;
        });
  
  
</script>
</body>
</html>