<div class="wrapper fn-clear">
    <div class="login">
        <a href="" class="icon-user">admin</a>
        <span class="line">|</span>
        <a href="<?=base_url().'login/logout'?>">Sign Out</a>
    </div>
    <ul class="nav">
        <li><a href="<?=base_url()?>" data-val="learn">Learning Objectives</a></li>
        <li><a href="<?=base_url().'index/about'?>" data-val="about">About Clinical Reasoning</a></li>
        <li>
            <a href="<?=base_url().'index/clinical'?>" data-val="clinical">Clinical Scenarios</a>
            <div class="sub">
                <a href="<?=base_url().'index/case1intro'?>">Case1</a>
                <a href="javascript:;">Case2</a>
                <a href="javascript:;">Case3</a>
            </div>
        </li>
        <li><a href="<?=base_url().'index/recommended'?>" data-val="recommended">Recommended Readings</a></li>
        <li><a href="<?=base_url().'index/others'?>" data-val="others">Others</a></li>
    </ul>
</div>