<ul>
    <li title="Considerthe patient Condition"><a href="javascript:;">Step 1</a></li>
    <li title="Collect cues/information"><a href="javascript:;">Step 2</a></li>
    <li title="Process information"><a href="javascript:;">Step 3</a></li>
    <li title="Identify problems/issues"><a href="javascript:;">Step 4</a></li>
    <li title="Establish goal/s"><a href="javascript:;">Step 5</a></li>
    <li title="Take action"><a href="javascript:;">Step 6</a></li>
    <li title="Evaluate outcomes"><a href="javascript:;">Step 7</a></li>
    <li title="Reflect on process and new learning"><a href="javascript:;">Step 8</a></li>
</ul>