<div class="step-help-item i-note">
    <div class="step-help-link">
        <i></i>
        <p>Note</p>
    </div>
    <form class="step-help-intro" id="saveNote">
        <button type="button" class="intro-save" title="save note" style="border: none;"></button>
        <div class="intro-title">Note</div>
        <div class="intro-note">
            <div class="intro-note-item">
                <div class="note-item-title step1-color">Step1</div>
                <textarea class="textarea" name="textarea-1" placeholder="Please fill note here about step1..."><?php if(isset($notes['step1'])) echo $notes['step1'];?></textarea>
            </div>
            <div class="intro-note-item">
                <div class="note-item-title step2-color">Step2</div>
                <textarea class="textarea" name="textarea-2" placeholder="Please fill note here about step2..."><?php if(isset($notes['step2'])) echo $notes['step2'];?></textarea>
            </div>
            <div class="intro-note-item">
                <div class="note-item-title step3-color">Step3</div>
                <textarea class="textarea" name="textarea-3" placeholder="Please fill note here about step3..."><?php if(isset($notes['step3'])) echo $notes['step3'];?></textarea>
            </div>
            <div class="intro-note-item">
                <div class="note-item-title step4-color">Step4</div>
                <textarea class="textarea" name="textarea-4" placeholder="Please fill note here about step4..."><?php if(isset($notes['step4'])) echo $notes['step4'];?></textarea>
            </div>
            <div class="intro-note-item">
                <div class="note-item-title step5-color">Step5</div>
                <textarea class="textarea" name="textarea-5" placeholder="Please fill note here about step5..."><?php if(isset($notes['step5'])) echo $notes['step5'];?></textarea>
            </div>
            <div class="intro-note-item">
                <div class="note-item-title step6-color">Step6</div>
                <textarea class="textarea" name="textarea-6" placeholder="Please fill note here about step6..."><?php if(isset($notes['step6'])) echo $notes['step6'];?></textarea>
            </div>
            <div class="intro-note-item">
                <div class="note-item-title step7-color">Step7</div>
                <textarea class="textarea" name="textarea-7" placeholder="Please fill note here about step7..."><?php if(isset($notes['step7'])) echo $notes['step7'];?></textarea>
            </div>
            <div class="intro-note-item">
                <div class="note-item-title step8-color">Step8</div>
                <textarea class="textarea" name="textarea-8" placeholder="Please fill note here about step8..."><?php if(isset($notes['step8'])) echo $notes['step8'];?></textarea>
            </div>
        </div>
    </form>
</div>
<div class="step-help-item i-medical">
    <div class="step-help-link">
        <i></i>
        <p>Medical Note</p>
    </div>
    <div class="step-help-intro">
        <a href="javascript:;" class="intro-close" title="close"></a>
        <div class="intro-title">Medical Note</div>
        <div class="intro-text">
            <img class="step-img-s" src="<?=base_url().'src/imgs/case2/step-help-medical.jpg'?>" title="Click to view the original image">
        </div>
    </div>
</div>
<div class="step-help-item i-operation">
    <div class="step-help-link">
        <i></i>
        <p>Operation Record</p>
    </div>
    <div class="step-help-intro">
        <a href="javascript:;" class="intro-close" title="close"></a>
        <div class="intro-title">Operation Record</div>
        <div class="intro-text">
            <p>Not operation records are found.</p>
        </div>
    </div>
</div>
<div class="step-help-item i-lab">
    <div class="step-help-link">
        <i></i>
        <p>Lab Result</p>
    </div>
    <div class="step-help-intro">
        <a href="javascript:;" class="intro-close" title="close"></a>
        <div class="intro-title">Lab Result</div>
        <div class="intro-text">
            <img class="step-img-s" src="<?=base_url().'src/imgs/case2/step-help-results-1.jpg'?>" title="Click to view the original image">
            <img class="step-img-s" src="<?=base_url().'src/imgs/case2/step-help-results-2.jpg'?>" title="Click to view the original image">
            <img class="step-img-s" src="<?=base_url().'src/imgs/case2/step-help-results-3.jpg'?>" title="Click to view the original image">
        </div>
    </div>
</div>
<div class="step-help-item i-mar">
    <div class="step-help-link">
        <i></i>
        <p>M AR</p>
    </div>
    <div class="step-help-intro">
        <a href="javascript:;" class="intro-close" title="close"></a>
        <div class="intro-title">M AR</div>
        <div class="intro-text">
            <img class="step-img-s" src="<?=base_url().'src/imgs/case2/step-help-mar-1.jpg'?>" title="Click to view the original image">
            <img class="step-img-s" src="<?=base_url().'src/imgs/case2/step-help-mar-2.jpg'?>" title="Click to view the original image">
            <img class="step-img-s" src="<?=base_url().'src/imgs/case2/step-help-mar-3.jpg'?>" title="Click to view the original image">
        </div>
    </div>
</div>
<div class="step-help-item i-imaging">
    <div class="step-help-link">
        <i></i>
        <p>Imaging Result</p>
    </div>
    <div class="step-help-intro">
        <a href="javascript:;" class="intro-close" title="close"></a>
        <div class="intro-title">Imaging Result</div>
        <div class="intro-text">
            <img class="step-img-s" src="<?=base_url().'src/imgs/case2/step-help-imaging.jpg'?>" title="Click to view the original image">
        </div>
    </div>
</div>
<div class="step-help-item i-nursing">
    <div class="step-help-link">
        <i></i>
        <p>Nursing Chart</p>
    </div>
    <div class="step-help-intro">
        <a href="javascript:;" class="intro-close" title="close"></a>
        <div class="intro-title">Nursing Chart</div>
        <div class="intro-text">
            <img class="step-img-s" src="<?=base_url().'src/imgs/case2/step-help-nursing-1.jpg'?>" title="Click to view the original image">
            <img class="step-img-s" src="<?=base_url().'src/imgs/case2/step-help-nursing-2.jpg'?>" title="Click to view the original image">
            <img class="step-img-s" src="<?=base_url().'src/imgs/case2/step-help-nursing-3.jpg'?>" title="Click to view the original image">
            <img class="step-img-s" src="<?=base_url().'src/imgs/case2/step-help-nursing-4.jpg'?>" title="Click to view the original image">
        </div>
    </div>
</div>

<!--img-popbox-->
<div class="step-img-popbox fn-hide">
    <div class="step-img-popbox-bg"></div>
    <div class="step-img-popbox-pic">
        <img src="" width="700">
    </div>
    <div class="step-img-popbox-close" title="close"></div>
</div>
<!--img-popbox end-->