<div class="step-help-item i-medical">
    <div class="step-help-link">
        <i></i>
        <p>Medical Note</p>
    </div>
    <div class="step-help-intro">
        <a href="javascript:;" class="intro-close"></a>
        <div class="intro-title">Medical Notes</div>
        <div class="intro-text">
            <p>- Bed 2, we have Mr Chan, he is 72 years old. He is under the care by Dr. Ng.</p>
            <p>- He has colon cancer and had a <strong class="text-pormpt">partial colectomy<span><b>Partial colectomy</b> refers to the surgical removal of the diseased part of the colon.</span></strong> and formation of a <strong class="text-pormpt">colostomy<span><b>colostomy</b> is a surgical procedure that creates a new opening between the colon and the abdominal wall. The type of colostomy depends on which part of the intestine is removed, which could be ascending colostomy, transverse colostomy, descending colostomy and sigmoid colostomy.</span></strong>.</p>
            <p>- His surgery was uneventful and he was stable throughout.</p>
            <p>- He has a <strong class="text-pormpt">PCA<span><b>PCA</b> stands for patient-controlled analgesia.</span></strong> <strong class="text-pormpt">morphine<span><b>morphine</b> is an opioid analgesics. It alters the perception of and response to painful stimuli while producing generalized suppression to central nervous system.</span></strong>,</p>
            <p>- He has an <strong class="text-pormpt">IV<span><b>IV</b> stands for intravenous therapy.</span></strong> running at Q6H, he did not have a good night though as his <strong class="text-pormpt">BP<span><b>BP</b> stands for blood pressure.</span></strong> dropped and has needed fluid challenge of 500mls x 1. He has a Foley’s catheter on Q1H U/O and are still a bit low.</p>
            <p>- His wound has a dry dressing and it’s intact.</p>
            <p>- He has a <strong class="text-pormpt">bellovac drain<span><b>bellovac drain</b> is a closed section drain which consists of (1) a radiopaque drainage catheter, (2) connectors and connection tubing, (3) a closed suction reservoir which generates vacuum when air is expelled from it by squeezing, while the vacuum will correspondingly decrease if the reservoir fills up with effluent, (4) one-way valves at the inlet and outlet of the suction reservoir to prevent reflux of drainage fluid back into the wound (inlet valve) or from the collection bag back into the suction reservoir (outlet valve), and (5) a changeable collection bag.</span></strong> - drained 300mls since yesterday.</p>
            <p>- He has a stoma – bag ᴓ drainage.</p>
            <p>- His O2 is still @ 6 L/min via nasal cannula. His SaO2 are OK.</p>
            <p>- He is on DM diet and Q4H BGL, <strong class="text-pormpt">BGL<span><b>BGL</b> stands for blood glucose level.</span></strong> are acceptable.</p>
            <p>- He lives alone, his wife passed away a couple a years ago. His daughter should be in later today.</p>
        </div>
    </div>
</div>
<div class="step-help-item i-operation">
    <div class="step-help-link">
        <i></i>
        <p>Operation Record</p>
    </div>
    <div class="step-help-intro">
        <a href="javascript:;" class="intro-close"></a>
        <div class="intro-title">Operation Record</div>
        <div class="intro-text">
            <p>- T˚=37, Pulse rate = 112/min, RR = 22/min,</p>
            <p>- BP = 90/50mmHg</p>
            <p>- SaO2 = 97%</p>
            <p>- u/o = 24 mL/hr</p>
            <p>- H’stix = 4 mmol/L</p>
        </div>
    </div>
</div>
<div class="step-help-item i-lab">
    <div class="step-help-link">
        <i></i>
        <p>Lab Results</p>
    </div>
    <div class="step-help-intro">
        <a href="javascript:;" class="intro-close"></a>
        <div class="intro-title">Lab Result</div>
        <div class="intro-text">
            <p>- Tactile fremitus is absent at right side.</p>
            <p>- Percussion note is hyper-resonant.</p>
            <p>- Breath sound is reduced at right side.</p>
        </div>
    </div>
</div>
<div class="step-help-item i-mar">
    <div class="step-help-link">
        <i></i>
        <p>Medication Administration Record(MAR)</p>
    </div>
    <div class="step-help-intro">
        <a href="javascript:;" class="intro-close"></a>
        <div class="intro-title">M AR</div>
        <div class="intro-text">
            <img style="margin-top: -30px;" src="<?=base_url().'src/imgs/step-help-mar.png'?>">
        </div>
    </div>
</div>
<div class="step-help-item i-imaging">
    <div class="step-help-link">
        <i></i>
        <p>Imaging Results</p>
    </div>
    <div class="step-help-intro">
        <a href="javascript:;" class="intro-close"></a>
        <div class="intro-title">Imaging Result</div>
        <div class="intro-text tx-c">
            <img src="<?=base_url().'src/imgs/step-help-imaging.png'?>">
        </div>
    </div>
</div>
<div class="step-help-item i-nursing">
    <div class="step-help-link">
        <i></i>
        <p>Nursing Notes</p>
    </div>
    <div class="step-help-intro">
        <a href="javascript:;" class="intro-close"></a>
        <div class="intro-title">Nursing Chart</div>
        <div class="intro-text tx-c">
            <img src="<?=base_url().'src/imgs/step-help-nursing.png'?>">
        </div>
    </div>
</div>