@charset "UTF-8";
/*
    @名称: base
    @功能: 重设浏览器默认样式
*/

/*重置*/
html{background: #fff; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
body, p, h1, h2, h3, h4, h5, h6, dl, dd, pre, blockquote{margin: 0;}
th, td{padding: 0;}
ul, ol, menu{margin: 0; padding: 0;}
ol, ul{list-style: none;}
body, input, textarea, button, select{color: #333; font: 16px/1.5 'arial', 'Microsoft YaHei';}
input, textarea, button, fieldset, select{padding: 5px; margin: 0; vertical-align: middle; background: #fff; border: 1px solid #ccc; border-radius: 2px; outline: none;}
img, a{outline: none; blr: expression(this.onFocus=this.blur());}
img{vertical-align: middle;}
a {color: #333;}
a, a:hover{text-decoration: none;}
table{border-collapse: collapse; border-spacing: 0; text-align: left;}
th, td{padding: 5px; border: 1px solid #ccc;}
iframe{display: block;}
/*end 重置*/

/*浮动*/
.fn-clear:after{display: table; content: ''; clear: both;}
.fn-l{float: left;}
.fn-r{float: right;}
.fn-hide{display: none;}
.fn-show{display: block;}
.wrap{width: 1200px; margin: 0 auto;}
/*end 浮动*/

/*font*/
.f-12{font-size: 12px;}
.f-14{font-size: 14px;}
.f-16{font-size: 16px;}
.f-20{font-size: 20px;}
.f-b{font-weight: bold;}
.tx-l{text-align: left;}
.tx-r{text-align: right;}
.tx-c{text-align: center;}
.tx-hide{white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis;}
/*end font*/

/*padding、margin*/
.p-0{padding: 0;}
.p-10{padding: 10px;}
.pt-10{padding-top: 10px;}
.pr-10{padding-right: 10px;}
.pb-10{padding-bottom: 10px;}
.pl-10{padding-left: 10px;}
.px-10{padding: 0 10px;}
.py-10{padding: 10px;}

.m-0 {margin: 0;}
.m-10 {margin: 10px;}
.mt-10 {margin-top: 10px;}
.mr-10 {margin-right: 10px;}
.mb-10 {margin-bottom: 10px;}
.ml-10 {margin-left: 10px;}
.mx-10 {margin: 0 10px;}
.my-10 {margin: 10px 0;}
/*end padding、margin*/

/*color、background、border*/
.c1-default{color: #666;}
.c1-primary{color: #337ab7;}
.c1-success{color: #5cb85c;}
.c1-info{color: #5bc0de;}
.c1-warning{color: #f0ad4e;}
.c1-danger{color: #d9534f;}

.c2-default{ color: #fff; background: #999;}
.c2-primary{ color: #fff; background: #337ab7;}
.c2-success{ color: #fff; background: #5cb85c;}
.c2-info{color: #fff; background: #5bc0de;}
.c2-warning{color: #fff; background: #f0ad4e;}
.c2-danger{color: #fff; background: #d9534f;}

.c3-default{color: #666; background: #fff; border-color: #ccc;}
.c3-primary{color: #fff; background: #337ab7; border-color: #2e6da4;}
.c3-success{color: #fff; background: #5cb85c; border-color: #4cae4c;}
.c3-info{color: #fff; background: #5bc0de; border-color: #46b8da;}
.c3-warning{color: #fff; background: #f0ad4e; border-color: #eea236;}
.c3-danger{color: #fff; background: #d9534f; border-color: #d43f3a;}
/*end color、background、border*/
