@charset "UTF-8";
/*
    @名称: base
    @功能: 重设浏览器默认样式
*/

/*重置*/
html{-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
body, p, h1, h2, h3, h4, h5, h6, dl, dd, pre, blockquote{margin: 0;}
th, td{padding: 0;}
ul, ol, menu{margin: 0; padding: 0;}
ol, ul{list-style: none;}
body, input, textarea, button, select{color: #242424; font: 26px/1 'arial', 'microsoft yahei';}
input, textarea, button, fieldset, select{padding: 5px; margin: 0; vertical-align: middle; background: #fff; border: 1px solid #ccc; border-radius: 2px; outline: none;}
img, a{outline: none; blr: expression(this.onFocus=this.blur());}
img{vertical-align: middle;}
a {color: #242424;}
a, a:hover{text-decoration: none;}
table{border-collapse: collapse; border-spacing: 0; text-align: left;}
th, td{padding: 5px; border: 1px solid #ccc;}
iframe{display: block;}
/*重置 end*/

/*浮动*/
.fn-clear:after{display: table; content: ''; clear: both;}
.fn-l{float: left;}
.fn-r{float: right;}
.fn-hide{display: none;}
.fn-show{display: block;}
.wrap{width: 1200px; margin: 0 auto;}
/*浮动 end*/

/*font*/
.f-b{font-weight: bold;}
.tx-l{text-align: left;}
.tx-r{text-align: right;}
.tx-c{text-align: center;}
.tx-hide{white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis;}
/*font end*/
