/*layout.css布局*/

/*container*/
html{
    height: 1080px;
}
.bg {
    background: url(../images/bg.png) center 100px no-repeat;
}
.bg2 {
    background: url(../images/bg2.png) center 100px no-repeat;
}
.bg3 {
    background: url(../images/bg3.png) center 100px no-repeat;
}
.bg4 {
    background: url(../images/bg4.png) center 100px no-repeat;
}
.bg5 {
    background: #ebebeb url(../images/bg5.png) center bottom no-repeat;
}
.wrapper {
    margin: 0 auto;
    max-width: 1600px;
}
/*end container*/

/*head*/
.head {
    position: relative;
    height: 100px;
    line-height: 100px;
    font-size: 20px;
    white-space: nowrap;
    color: #fff;
    background: #ffac53;
    z-index: 1;
}

.head a {
    color: #fff;
}

.head .login {
    float: left;
    padding-left: 20px;
}

.head .icon-user{
    padding: 2px 0 2px 40px;
    background: url(../images/icon-user.png) no-repeat;
}

.head .login .line {
    padding: 0 15px;
}

.head .nav {
    float: right;
}

.head .nav li {
    position: relative;
    float: left;
    padding: 0 25px;
    background: url(../images/icon-nav.png) center 100px no-repeat;
    -webkit-transition: background .2s; /* Safari 和 Chrome */
       -moz-transition: background .2s; /* Firefox 4 */
        -ms-transition: background .2s; /* IE9 */
         -o-transition: background .2s; /* Opera */
            transition: background .2s;
}

.head .nav li a {
    display: block;
    text-align: center;
}

.head .nav li:hover,
.head .nav .active{
    background-position: center bottom;
}

.head .nav .active{
    font-weight: bold;
}

.head .nav li .sub{
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    line-height: 64px;
    background: #fff;
    box-shadow: 0 10px 20px #ebebeb;
}
.head .nav li:hover .sub{
    display: block;
}
.head .nav li .sub a{
    color: #242424;
}

.head .nav li .sub a:hover{
    color: #ed6f22;
    background: #ebebeb;
}

/*head end*/

/*media*/
@media screen and (max-width: 1600px){
    .head .login {
        padding-left: 20px;
    }
    .head .nav li {
        padding: 0 20px;
    }
}
@media screen and (max-width: 1480px){
    .head .login {
        padding-left: 15px;
    }
    .head .nav li {
        padding: 0 15px;
    }
}
@media screen and (max-width: 1280px){
    html, .head, .container{
        width: 1280px;
    }
}
/*media end*/