/*title*/
.title-h1{
    font-size: 58px;
    font-weight: bold;
}
.title-h2{
    font-weight: bold;
}
/*title end*/

/*text-pormpt*/
.text-pormpt{
    position: relative;
    cursor: default;
}
.text-pormpt > span{
    display: none;
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 333px;
    /*height: 124px;*/
    padding: 15px;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    background: #fff;
    border: 1px solid #eee;
    border-bottom: 0;
    border-radius: 10px;
    z-index: 1;
    /*background: url(../images/step/text-prompt.png);*/
}
.text-pormpt span:after{
    content: '';
    position: absolute;
    left: -1px;
    bottom: -26px;
    width: 365px;
    height: 33px;
    background: url(../images/step/text-prompt.png) left bottom no-repeat;
}
.text-pormpt:hover, .text-pormpt.active{
    color: #ffac53;
}
.text-pormpt:hover span{
    display: block;
    color: #242424;
}
/*text-pormpt end*/

/*btn*/
.btn-prev, .btn-next{
    display: inline-block;
    width: 128px;
    height: 144px;
    margin: 0 100px;
    text-indent: -999px;
    vertical-align: middle;
    border: none;
    overflow: hidden;
    cursor: pointer;
}
.btn-prev{
    background: url(../images/btn-prev.png);
}
.btn-next{
    background: url(../images/btn-next.png);
}
/*btn end*/


/*keyframes*/
@-webkit-keyframes checked-l{
    0% {background-image: url(../images/icon-checked2-l.png)}
    50% {background-image: url(../images/icon-checked2-l.png)}
    100% {background-image: url(../images/icon-checked0-l.png)}
}
@-moz-keyframes checked-l{
    0% {background-image: url(../images/icon-checked2-l.png)}
    50% {background-image: url(../images/icon-checked2-l.png)}
    100% {background-image: url(../images/icon-checked0-l.png)}
}
@-ms-keyframes checked-l{
    0% {background-image: url(../images/icon-checked2-l.png)}
    50% {background-image: url(../images/icon-checked2-l.png)}
    100% {background-image: url(../images/icon-checked0-l.png)}
}
@-o-keyframes checked-l{
    0% {background-image: url(../images/icon-checked2-l.png)}
    50% {background-image: url(../images/icon-checked2-l.png)}
    100% {background-image: url(../images/icon-checked0-l.png)}
}
@keyframes checked-l{
    0% {background-image: url(../images/icon-checked2-l.png)}
    50% {background-image: url(../images/icon-checked2-l.png)}
    100% {background-image: url(../images/icon-checked0-l.png)}
}

@-webkit-keyframes checked-s{
    0% {background-image: url(../images/icon-checked2-s.png)}
    50% {background-image: url(../images/icon-checked2-s.png)}
    100% {background-image: url(../images/icon-checked0-s.png)}
}
@-moz-keyframes checked-s{
    0% {background-image: url(../images/icon-checked2-s.png)}
    50% {background-image: url(../images/icon-checked2-s.png)}
    100% {background-image: url(../images/icon-checked0-s.png)}
}
@-ms-keyframes checked-s{
    0% {background-image: url(../images/icon-checked2-s.png)}
    50% {background-image: url(../images/icon-checked2-s.png)}
    100% {background-image: url(../images/icon-checked0-s.png)}
}
@-o-keyframes checked-s{
    0% {background-image: url(../images/icon-checked2-s.png)}
    50% {background-image: url(../images/icon-checked2-s.png)}
    100% {background-image: url(../images/icon-checked0-s.png)}
}
@keyframes checked-s{
    0% {background-image: url(../images/icon-checked2-s.png)}
    50% {background-image: url(../images/icon-checked2-s.png)}
    100% {background-image: url(../images/icon-checked0-s.png)}
}
/*keyframes end*/

/*radio*/
.item-radio{
    cursor: pointer;
}
.item-radio input{
    display: none;
}
.i-radio{
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background: url(../images/icon-checked0-l.png);
    overflow: hidden;
}
.i-radio.active{
    background: url(../images/icon-checked1-l.png);
}
.i-radio.prompt{
    background: url(../images/icon-checked2-l.png);
    -webkit-animation: checked-l 1s 1s infinite alternate; /* Safari 和 Chrome */
       -moz-animation: checked-l 1s 1s infinite alternate; /* Firefox 4 */
        -ms-animation: checked-l 1s 1s infinite alternate; /* IE9 */
         -o-animation: checked-l 1s 1s infinite alternate; /* Opera */
            animation: checked-l 1s 1s infinite alternate;
}
.radio-s .i-radio{
    width: 26px;
    height: 26px;
    background: url(../images/icon-checked0-s.png);
}
.radio-s .i-radio.active{
    background: url(../images/icon-checked1-s.png);
}
.radio-s .i-radio.prompt{
    background: url(../images/icon-checked2-s.png);
    -webkit-animation: checked-s 1s 1s infinite alternate; /* Safari 和 Chrome */
       -moz-animation: checked-s 1s 1s infinite alternate; /* Firefox 4 */
        -ms-animation: checked-s 1s 1s infinite alternate; /* IE9 */
         -o-animation: checked-s 1s 1s infinite alternate; /* Opera */
            animation: checked-s 1s 1s infinite alternate;
}
.p-radio{
    display: block;
    padding: 7px 20px;
    line-height: 24px;
    font-size: 20px;
    border: 1px solid #ebebeb;
    margin: 30px 0;
    -webkit-transition: padding .2s; /* Safari 和 Chrome */
       -moz-transition: padding .2s; /* Firefox 4 */
        -ms-transition: padding .2s; /* IE9 */
         -o-transition: padding .2s; /* Opera */
            transition: padding .2s;
}
.p-radio:hover{
    background: #ebebeb;
    padding: 7px 30px 7px 10px;
}
.p-radio.active{
    color: #fff;
    background: #ffac53;
    border: 1px solid #ffac53;
}
/*radio end*/

/*checkbox*/
.item-checkbox{
    cursor: pointer;
}
.item-checkbox input{
    display: none;
}
.i-checkbox{
    display: inline-block;
    width: 26px;
    height: 26px;
    vertical-align: middle;
    background: url(../images/icon-checked0-l.png);
    overflow: hidden;
}
.i-checkbox.active{
    background: url(../images/icon-checked1-l.png);
}
.p-checkbox{
    display: block;
    padding: 8px 20px 8px 60px;
    line-height: 24px;
    font-size: 20px;
    margin: 5px 0;
    background: url(../images/icon-checked0-l.png) left 5px no-repeat;
    -webkit-transition: padding .2s; /* Safari 和 Chrome */
       -moz-transition: padding .2s; /* Firefox 4 */
        -ms-transition: padding .2s; /* IE9 */
         -o-transition: padding .2s; /* Opera */
            transition: padding .2s;
}
.p-checkbox:hover{
    padding: 8px 30px 8px 50px;
    font-weight: bold;
}
.p-checkbox.active{
    background: url(../images/icon-checked1-l.png) left 5px no-repeat;
}
.p-checkbox.prompt{
    background: url(../images/icon-checked2-l.png) left 5px no-repeat;
    -webkit-animation: checked-l 1s 1s infinite alternate; /* Safari 和 Chrome */
       -moz-animation: checked-l 1s 1s infinite alternate; /* Firefox 4 */
        -ms-animation: checked-l 1s 1s infinite alternate; /* IE9 */
         -o-animation: checked-l 1s 1s infinite alternate; /* Opera */
            animation: checked-l 1s 1s infinite alternate;
}
/*checkbox end*/

/*scroll*/
.scroll-bar::-webkit-scrollbar {
    width: 3px;
}
.scroll-bar::-webkit-scrollbar-button    {
    height: 0;
}
.scroll-bar::-webkit-scrollbar-track-piece {
    background: #ebebeb;
}
.scroll-bar::-webkit-scrollbar-thumb{
    background: #b2b2b2;
    border-radius: 3px;
}
/*scroll end*/

/*popbox*/
.popbox{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1080px;
    z-index: 2;
}
.popbox .popbox-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #242424;
    opacity: .1;
    filter: alpha(opacity=10);
}
.popbox .popbox-cont{
    position: relative;
    width: 800px;
    margin: 200px auto 0;
    font-size: 20px;
    background: #fff;
    z-index: 1;
}
.popbox .popbox-close{
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 34px;
    height: 34px;
    background: url(../images/step/step-close.png);
    cursor: pointer;
}
.popbox .submit-result{
    position: relative;
    margin: 200px auto 0;
    width: 544px;
    height: 414px;
    text-align: center;
    z-index: 1;
}
.popbox .submit-result p{
    padding: 180px 0 86px 0;
    font-weight: bold;
    font-size: 28px;
}
.bg-error .submit-result{
    background: url(../images/step/qq-error.png);
}
.bg-pass .submit-result{
    background: url(../images/step/qq-pass.png);
}
/*popbox end*/