<!DOCTYPE html>
<html lang="en" class="bg4">
<head>
    <meta charset="UTF-8">
    <title>Clinical Scenario</title>
   <link rel="stylesheet" href="<?=base_url().'src/css/base.css'?>">
    <link rel="stylesheet" href="<?=base_url().'src/css/common.css'?>">
    <link rel="stylesheet" href="<?=base_url().'src/css/layout.css'?>">
    <link rel="stylesheet" href="<?=base_url().'src/css/module.css'?>">
    <!--add css-->
    <link rel="stylesheet" href="<?=base_url().'src/css/style-step.css'?>">
    <!--add css end-->
    <script src="<?=base_url().'src/js/jquery-1.8.3.min.js'?>"></script>
</head>
<body>
<div class="head" data-val="clinical">
    <!--common.js自动载入head.html 注意：data-val值如果与菜单栏的data-val值匹配，则匹配菜单项状态加亮-->
</div>
<div class="container">
    <div class="step-box fn-clear">
        <div class="step-floor" data-val="<?=$step; ?>">
            <!--common.js自动载入step-floor.html 注意：data-val值代表通过的step数量，如值为3，则前3个状态加亮-->
        </div>
        <div class="step-wrap">
            <div class="step-h1"><?= $step_title; ?></div>
            <form id="form1">
                <div class="step-cont">
                    <div class="qq-title"><?= $title; ?></div>
                    <div class="qq-text">
                        <div class="l-30">
                              <?= $des; ?>
                        </div>
                        <div class="mt-20">
                            
                            <?php foreach ($option as $key => $value){ ?>
                            
                            <label class="item-checkbox p-checkbox <?php if(isset($done)) echo in_array($key, explode(',',$answer))?'active':'' ?>  ">
                                <input type="checkbox" name="multiple<?=$key; ?>" 
                                                                           <?php if(isset($done)) echo in_array($key, explode(',',$answer))?'checked="true"':'' ?>
                                                                           
                                                                           <?php if(isset($done)) echo 'disabled="disabled"';?>
                                                                           value="<?=$key;?>"><?=$value; ?></label>
                            
                            <?php } ?>        
                            
                        </div>
                        <div class="tx-c mt-30">
                            <a class="btn-l c2-primary" href="<?php echo base_url().'index/answer/'.$last_topic_id;?>" title="&lt;&nbsp;prev">&lt;&nbsp;PREV</a>
                            <?php if(!isset($done)){ ?>
                        <button type="submit" class="btn-l c2-primary">SUBMIT</button>
                         <?php }else{ ?>
                        <a class="btn-l c2-primary" href="<?php echo base_url().'index/answer/'.$next_topic_id;?>" title="next&nbsp;&gt;">NEXT&nbsp;&gt;</a>
                         <?php } ?>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="step-help" data-val="<?php echo $step>1?'':'1'; ?>">
            <!--common.js自动载入step-help.html 注意：data-val值为1，则只加载一个，否则加载全部-->
        </div>
    </div>
    <div class="popbox bg-error err-count">
    <div class="popbox-bg"></div>
    <div class="submit-result">
        <p style="padding: 148px 0 46px 0;" class="l-38">Oops! You have only <br> selected <b id="ecount" class="c1-danger">3</b> answers. <br> Please try again!</p>
        <a class="btn-l c2-primary" href="javascript:;" onclick="$(this).parents('.popbox').hide()">AGAIN</a>
    </div>
    </div>
    <div class="popbox bg-pass">
        <div class="popbox-bg"></div>
        <div class="submit-result">
            <p>Congrat! let's go next!</p>
            <a id="congrat" class="btn-l c2-primary" href="javascript:;" onclick="$(this).parents('.popbox').hide()">NEXT</a>
        </div>
    </div>
      <div class="popbox bg-error err-wrong">
        <div class="popbox-bg"></div>
        <div class="submit-result">
            <p>Error, try again!</p>
            <a class="btn-l c2-primary" href="javascript:;" onclick="$(this).parents('.popbox').hide()">AGAIN</a>
        </div>
    </div>
</div>
<script>

        /**
     * Created by lzm on 2018/3/30.
     */
    $(function(){

            var ac = <?= $answer_count ?>;
            var itemCheckbox = $('.item-checkbox input');
            itemCheckbox.bind('click', function(){
                        if($('.item-checkbox input:checked').length > ac){
                            $(this).removeAttr("checked");
                            $(this).parent().removeClass('active');
                          
                        }else{
                             $(this).parent().toggleClass('active');
                        }
                        
                        $(this).parent().removeClass('prompt');
                         

                    });
        
          $("#form1").submit(function () {
              var count = $('input:checked').length;
              var bb = <?= $answer_count ?>;
              if(count != bb){
                  $('#ecount').html(count);
                  $('.err-count').show();
                  return !1;
              }
              
            $.ajax({
                url: '<?php echo base_url();?>index/multiple/<?=$id?>',
                data: $(this).serialize(),
                dataType: 'json',
                type: 'post',
                success: function (data) {
                    //		
                    if (data && data.status == 200) {
                        $('#congrat').attr('href',data.res.url);
                        $('.bg-pass').show();
                    } else {
                    
                       /* var itemChecked = $('.item-checkbox input:checked');
                        // 清除所有选中
                        for(var i = 0, len = itemChecked.length; i < len; i++){
                            itemChecked.eq(i).removeAttr("checked");
                            itemChecked.eq(i).parent().removeClass('active');
                        }
                        
                        var answer = data.res.answer;
                        var arr=new Array(); 
                        arr=answer.split(',');
                      
                        for(j = 0; j < arr.length; j++){
                            var option = "input[name=multiple"+arr[j] +"]";
                             $(option). parent("label").addClass("prompt");
                        }
                       */
                        
                            
                        $('.err-wrong').show();
                    }
                }, error: function (e) {
//                    alert("error!");
                }
            });

            return !1;
        });
        
        // 载入头部.head
    // 给当前页面添加样式
    $('.head').load("<?=base_url().'index/head'?> .wrapper");
    navActive();
    function navActive(){
        var head = $('.head');
        var aLink = $('.nav li > a');
        if(!head.length) return false;// 没有.head则不执行下面
        if(aLink.length){
            var hVal = $('.head').attr('data-val');
            for(var i = 0, len = aLink.length; i < len; i++){
                var aVal = aLink.eq(i).attr('data-val');
                if(aVal == hVal){
                    aLink.eq(i).parent().addClass('active');
                }
            }
        }else{
            setTimeout(function(){
                navActive();
            }, 100);
        }
    }

    var floorUrlArr = [
        "<?php echo $leftstep>=1?base_url().'index/fromstep/1':'javascript:;'; ?>",
        "<?php echo $leftstep>=2?base_url().'index/fromstep/2':'javascript:;'; ?>",
        "<?php echo $leftstep>=3?base_url().'index/fromstep/3':'javascript:;'; ?>",
        "<?php echo $leftstep>=4?base_url().'index/fromstep/4':'javascript:;'; ?>",
        "<?php echo $leftstep>=5?base_url().'index/fromstep/5':'javascript:;'; ?>",
        "<?php echo $leftstep>=6?base_url().'index/fromstep/6':'javascript:;'; ?>",
        "<?php echo $leftstep>=7?base_url().'index/fromstep/7':'javascript:;'; ?>",
        "<?php echo $leftstep>=8?base_url().'index/fromstep/8':'javascript:;'; ?>"
    ];

    // 载入step-floor
    // .step-floor添加样式
    $('.step-floor').load("<?php echo base_url().'index/stepfloor';?>");
    stepFloorActive();
    function stepFloorActive(){
        var floor = $('.step-floor');
        var dataVal = floor.attr('data-val');
        var li = $('.step-floor li');
        if(!floor.length) return false;// 没有.step-floor则不执行
        if(dataVal && li.length){
            for(var i = 0; i < dataVal; i++){
                li.eq(i).addClass('active');
                li.eq(i).find('a').prop('href', floorUrlArr[i]);
            }
        }
        else{
            setTimeout(function(){
                stepFloorActive();
            }, 100)
        }
    }

    // 载入step-help
    // .step-help切换
    $('.step-help').load("<?php echo base_url().'index/stephelp';?>");
    stepHelpToggle();
    function stepHelpToggle(){
        var help = $('.step-help');
        var link = $('.step-help-link');
        var intro = $('.step-help-intro');
        var close = $('.step-help-intro .intro-close');
        if(!help.length) return false;// 没有.step-help则不执行
        if(link.length){
            // 显示菜单个数
            var dataVal = help.attr('data-val');
            if(dataVal && dataVal == '1'){ // 如果为step1，后面的菜单内容则清空
                for(var i = link.length; i > 1; i--){
                    link.eq(i).parent().remove();
                }
            }
            // 菜单展开
            link.bind('click', function(){
                intro.not($(this).next()).fadeOut();
                $(this).next().fadeToggle();
            });
            // 关闭按钮
            close.bind('click', function(){
                $(this).parent().fadeOut();
            });
            // 笔记展开收缩
            var noteItemBtn = $('.note-item-title');
            noteItemBtn.bind('click', function(){
                $(this).next('.textarea').toggle();
                $(this).toggleClass('active');
            });
            
             // 保存笔记
           var noteSaveBtn = $('.intro-save');
           noteSaveBtn.bind('click', function(){
                 //ajax提交笔记
                $.ajax({
                    url: "<?= base_url().'index/saveNotes';?>",
                    data: $("#saveNote").serialize(),
                    dataType: 'json',
                    type: 'post',
                    success: function (data) {
                        if (data && data.status == 200) {
                            //alert("success");
                        }
                        else {
                            //alert(data.statusMsg);
                        }
                    }, error: function (e) {
                        alert("error!");
                    }
                });
               
               var self = $(this);
               setTimeout(function(){
                   self.parent().fadeOut();
               }, 100);
           });
          // 图片放大展示
            $('.step-img-s').bind('click', function(){
                $('.step-img-popbox-pic img').attr('src', $(this).attr('src'));
                $('.step-img-popbox').fadeIn();
            });
            $('.step-img-popbox-close').bind('click', function(){
                $('.step-img-popbox').fadeOut();
            });
            
        }else{
            setTimeout(function(){
                stepHelpToggle();
            }, 100);
        }
    }
    

  

    // 图片放大展示
    $('.img-s').bind('click', function(){
        $('.img-popbox').fadeIn();
    });
    $('.img-popbox-close').bind('click', function(){
        $('.img-popbox').fadeOut();
    });

    // 单选框切换
    radioToggle();
    function radioToggle(){
        var itemRadio = $('.item-radio input');
        var itemChecked = $('.item-radio input:checked');
        // 默认选中，添加样式
        for(var i = 0, len = itemChecked.length; i < len; i++){
            itemChecked.eq(i).parent().addClass('active');
        }
        // 点击清空name值相同样式，再给当前选中添加样式
        itemRadio.bind('click', function(){
            var itemName = $(this).prop('name');
            var itemRadioArr = $('.item-radio input[name=' + itemName + ']');
            itemRadioArr.parent().removeClass('active');
            $(this).parent().addClass('active');
        });
    }


    // 仿下拉菜单
    var sTopInp = $('.select-top input');
    var sTopSpan = $('.select-top span');
    for(var i = 0, len = sTopInp.length; i < len; i++){
        if(sTopInp.eq(i).val()){
            sTopSpan.eq(i).addClass('active');
        }
    }
    // 点击选项.select-top
    $('.select-top').bind('click', function(){
        var sTopQ = $(this).prev('label');
        var sTopA = $(this).find('span');
        var sTopV = $(this).find('input');
        var sBottomP = $('.select-bottom').parents('.popbox');
        var sBottomQ = sBottomP.find('.select-title');
        var sBottomA = sBottomP.find('.select-bottom li');

        sBottomQ.html(sTopQ.html());

        // 给默认选中的选项添加样式
        if(sTopV.val()){
            for(var i = 0, len = sBottomA.length; i < len; i++){
                sBottomA.eq(i).removeClass('active');
                if(sBottomA.eq(i).attr('data-val') == sTopV.val()){
                    sBottomA.eq(i).addClass('active');
                }
            }
        }
        sBottomP.fadeIn();

        // 选择某个选项.select-bottom li
        sBottomA.bind('click', function(){
            sTopA.html($(this).html()).addClass('active');
            sTopV.val($(this).attr('data-val'));
            sBottomP.fadeOut();
            sBottomA.unbind('click');//解绑
        });
    });


    });
    </script>
</body>
</html>