<!DOCTYPE html>
<html lang="en" class="bg4">
<head>
    <meta charset="UTF-8">
    <title>Clinical Scenario</title>
   <link rel="stylesheet" href="<?=base_url().'src/css/base.css'?>">
    <link rel="stylesheet" href="<?=base_url().'src/css/common.css'?>">
    <link rel="stylesheet" href="<?=base_url().'src/css/layout.css'?>">
    <link rel="stylesheet" href="<?=base_url().'src/css/module.css'?>">
    <!--add css-->
    <link rel="stylesheet" href="<?=base_url().'src/css/style-step.css'?>">
    <!--add css end-->
    <script src="<?=base_url().'src/js/jquery-1.8.3.min.js'?>"></script>
</head>
<body>
<div class="head" data-val="clinical">
    <!--common.js自动载入head.html 注意：data-val值如果与菜单栏的data-val值匹配，则匹配菜单项状态加亮-->
</div>
<div class="container">
    <div class="step-box fn-clear">
        <div class="step-floor" data-val="<?=$step; ?>">
            <!--common.js自动载入step-floor.html 注意：data-val值代表通过的step数量，如值为3，则前3个状态加亮-->
        </div>
        <div class="step-wrap">
            <form id="form1">
                <div class="step-cont">
                    <div class="qq-title"><?= $title; ?></div>
                    <div class="qq-text">
                        <p class="f-20 l-38 c1-danger"><?= $des; ?></p>
                        <p>
                            <textarea class="textarea" name="answer" style="height: 74px;" 
                                     placeholder="Please fill in the answers here..."><?php if(isset($done)) echo $answer[0]['user_answer']; ?></textarea>
                        
                            <textarea class="textarea" name="answer2" style="height: 74px;" 
                                     placeholder="Please fill in the answers here..."><?php if(isset($done)) echo $answer[0]['short_answer2']; ?></textarea>
                            
                            <textarea class="textarea" name="answer3" style="height: 74px;" 
                                     placeholder="Please fill in the answers here..."><?php if(isset($done)) echo $answer[0]['short_answer3']; ?></textarea>
                        
                        </p>
                    </div>
                    
                     <?php if(isset($answer[1])){ ?>
                            <div class="answer-record">
                              <p class="answer-created"><?= $answer[1]['createtime']; ?></p>
                              <p class="answer-item"><?= $answer[1]['user_answer']; ?></p>
                              <p class="answer-item"><?= $answer[1]['short_answer2']; ?></p>
                              <p class="answer-item"><?= $answer[1]['short_answer3']; ?></p>
                           </div>
                      <?php } ?>
                    
                    <div class="tx-c mt-30">
                        <a class="btn-l c2-primary" href="<?php echo base_url().'index/answer/'.$case.'/'.$last_topic_id;?>" title="&lt;&nbsp;prev">&lt;&nbsp;PREV</a>
                        <?php if(!isset($done)){ ?>
                        <button type="submit" class="btn-l c2-primary">SUBMIT</button>
                         <?php }else{ ?>
                          <button type="submit" class="btn-l c2-primary">SUBMIT</button>
                        <a class="btn-l c2-primary" href="<?php echo base_url().'index/answer/'.$case.'/'.$next_topic_id;?>" title="next&nbsp;&gt;">NEXT&nbsp;&gt;</a>
                         <?php } ?>
                    </div>
                </div>
            </form>
        </div>
        <div class="<?php echo 'step-help step-help-case'.$case; ?>" data-val="<?php echo $step>1?'':'1'; ?>">
            <!--common.js自动载入step-help.html 注意：data-val值为1，则只加载一个，否则加载全部-->
        </div>
    </div>
</div>
<script>

        /**
     * Created by lzm on 2018/3/30.
     */
    $(function(){
        
         $("#form1").submit(function () {
            $.ajax({
                url: '<?php echo base_url();?>index/short/<?=$id?>',
                data: $(this).serialize(),
                dataType: 'json',
                type: 'post',
                success: function (data) {
                    //				console.log(data);
                    if (data && data.status == 200) {
                        location.href = data.res.url;
                    }
                    else {
                        alert(data.statusMsg);
                    }
                }, error: function (e) {
                    alert("error!");
                }
            });

            return !1;
        });
        
         // 载入头部.head
    // 给当前页面添加样式
    $('.head').load("<?=base_url().'index/head'?> .wrapper");
    navActive();
    function navActive(){
        var head = $('.head');
        var aLink = $('.nav li > a');
        if(!head.length) return false;// 没有.head则不执行下面
        if(aLink.length){
            var hVal = $('.head').attr('data-val');
            for(var i = 0, len = aLink.length; i < len; i++){
                var aVal = aLink.eq(i).attr('data-val');
                if(aVal == hVal){
                    aLink.eq(i).parent().addClass('active');
                }
            }
        }else{
            setTimeout(function(){
                navActive();
            }, 100);
        }
    }

    var floorUrlArr = [
        "<?php echo $leftstep>=1?base_url().'index/fromstep/'.$case.'/1':'javascript:;'; ?>",
        "<?php echo $leftstep>=2?base_url().'index/fromstep/'.$case.'/2':'javascript:;'; ?>",
        "<?php echo $leftstep>=3?base_url().'index/fromstep/'.$case.'/3':'javascript:;'; ?>",
        "<?php echo $leftstep>=4?base_url().'index/fromstep/'.$case.'/4':'javascript:;'; ?>",
        "<?php echo $leftstep>=5?base_url().'index/fromstep/'.$case.'/5':'javascript:;'; ?>",
        "<?php echo $leftstep>=6?base_url().'index/fromstep/'.$case.'/6':'javascript:;'; ?>",
        "<?php echo $leftstep>=7?base_url().'index/fromstep/'.$case.'/7':'javascript:;'; ?>",
        "<?php echo $leftstep>=8?base_url().'index/fromstep/'.$case.'/8':'javascript:;'; ?>"
    ];

    // 载入step-floor
    // .step-floor添加样式
    $('.step-floor').load("<?php echo base_url().'index/stepfloor';?>");
    stepFloorActive();
    function stepFloorActive(){
        var floor = $('.step-floor');
        var dataVal = floor.attr('data-val');
        var li = $('.step-floor li');
        if(!floor.length) return false;// 没有.step-floor则不执行
        if(dataVal && li.length){
            for(var i = 0; i < dataVal; i++){
                li.eq(i).addClass('active');
                li.eq(i).find('a').prop('href', floorUrlArr[i]);
            }
        }
        else{
            setTimeout(function(){
                stepFloorActive();
            }, 100)
        }
    }

    // 载入step-help
    // .step-help切换
    $('.step-help-case1').load("<?php echo base_url().'index/stephelp1';?>");
    $('.step-help-case2').load("<?php echo base_url().'index/stephelp2';?>");
    $('.step-help-case3').load("<?php echo base_url().'index/stephelp3';?>");
    stepHelpToggle();
    function stepHelpToggle(){
        var help = $('.step-help');
        var link = $('.step-help-link');
        var intro = $('.step-help-intro');
        var close = $('.step-help-intro .intro-close');
        if(!help.length) return false;// 没有.step-help则不执行
        if(link.length){
            // 显示菜单个数
            var dataVal = help.attr('data-val');
            if(dataVal && dataVal == '1'){ // 如果为step1，后面的菜单内容则清空
                for(var i = link.length; i > 1; i--){
                    link.eq(i).parent().remove();
                }
            }
             help.show();
            // 菜单展开
            link.bind('click', function(){
                intro.not($(this).next()).fadeOut();
                $(this).next().fadeToggle();
            });
            // 关闭按钮
            close.bind('click', function(){
                $(this).parent().fadeOut();
            });
            // 笔记展开收缩
            var noteItemBtn = $('.note-item-title');
            noteItemBtn.bind('click', function(){
                $(this).next('.textarea').toggle();
                $(this).toggleClass('active');
            });
            
             // 保存笔记
           var noteSaveBtn = $('.intro-save');
           noteSaveBtn.bind('click', function(){
                 //ajax提交笔记
                $.ajax({
                    url: "<?= base_url().'index/saveNotes';?>",
                    data: $("#saveNote").serialize(),
                    dataType: 'json',
                    type: 'post',
                    success: function (data) {
                        if (data && data.status == 200) {
                            //alert("success");
                        }
                        else {
                            //alert(data.statusMsg);
                        }
                    }, error: function (e) {
                        alert("error!");
                    }
                });
               
               var self = $(this);
               setTimeout(function(){
                   self.parent().fadeOut();
               }, 100);
           });
          // 图片放大展示
            $('.step-img-s').bind('click', function(){
                $('.step-img-popbox-pic img').attr('src', $(this).attr('src'));
                $('.step-img-popbox').fadeIn();
            });
            $('.step-img-popbox-close').bind('click', function(){
                $('.step-img-popbox').fadeOut();
            });
            
        }else{
            setTimeout(function(){
                stepHelpToggle();
            }, 100);
        }
    }
    

  

    // 图片放大展示
    $('.img-s').bind('click', function(){
        $('.img-popbox').fadeIn();
    });
    $('.img-popbox-close').bind('click', function(){
        $('.img-popbox').fadeOut();
    });

    // 单选框切换
    radioToggle();
    function radioToggle(){
        var itemRadio = $('.item-radio input');
        var itemChecked = $('.item-radio input:checked');
        // 默认选中，添加样式
        for(var i = 0, len = itemChecked.length; i < len; i++){
            itemChecked.eq(i).parent().addClass('active');
        }
        // 点击清空name值相同样式，再给当前选中添加样式
        itemRadio.bind('click', function(){
            var itemName = $(this).prop('name');
            var itemRadioArr = $('.item-radio input[name=' + itemName + ']');
            itemRadioArr.parent().removeClass('active');
            $(this).parent().addClass('active');
        });
    }

    // 复选框切换
    checkboxToggle();
    function checkboxToggle(){
        var itemCheckbox = $('.item-checkbox input');
        var itemChecked = $('.item-checkbox input:checked');
        // 默认选中，添加样式
        for(var i = 0, len = itemChecked.length; i < len; i++){
            itemChecked.eq(i).parent().addClass('active');
        }
        // 给当前选中添加样式
        itemCheckbox.bind('click', function(){
            $(this).parent().toggleClass('active');
        });
    }

    // 仿下拉菜单
    var sTopInp = $('.select-top input');
    var sTopSpan = $('.select-top span');
    for(var i = 0, len = sTopInp.length; i < len; i++){
        if(sTopInp.eq(i).val()){
            sTopSpan.eq(i).addClass('active');
        }
    }
    // 点击选项.select-top
    $('.select-top').bind('click', function(){
        var sTopQ = $(this).prev('label');
        var sTopA = $(this).find('span');
        var sTopV = $(this).find('input');
        var sBottomP = $('.select-bottom').parents('.popbox');
        var sBottomQ = sBottomP.find('.select-title');
        var sBottomA = sBottomP.find('.select-bottom li');

        sBottomQ.html(sTopQ.html());

        // 给默认选中的选项添加样式
        if(sTopV.val()){
            for(var i = 0, len = sBottomA.length; i < len; i++){
                sBottomA.eq(i).removeClass('active');
                if(sBottomA.eq(i).attr('data-val') == sTopV.val()){
                    sBottomA.eq(i).addClass('active');
                }
            }
        }
        sBottomP.fadeIn();

        // 选择某个选项.select-bottom li
        sBottomA.bind('click', function(){
            sTopA.html($(this).html()).addClass('active');
            sTopA.prop('title', $(this).html());
            sTopV.val($(this).attr('data-val'));
            sBottomP.fadeOut();
            sBottomA.unbind('click');//解绑
        });
    });


    });
    </script>
</body>
</html>